/*
Theme Name: Hotel Paradise - Responsive hotel site template
Theme URI: http://www.ansonika.com/paradise/
Description: Hotel Paradise is created by <a href="http://www.ansonika.com">Ansonika</a>.
Version: 1.0.0
Author: Ansonika
Author URI: http://themeforest.net/user/Ansonika/

CSS STRUCTURE:

1. SITE STRUCTURE
2.  PAGES AND CONTENT
3. MISC
4. MEDIA QUERIES

/*============================================================================================*/
/* 1. SITE STRUCTURE */
/*============================================================================================*/

/*	Responsive Grid (foundation)
----------------------------------------------------------------------------------------*/

.row .column, .row .columns{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.container{ margin: 0px auto; padding: 0px 0px; max-width: 960px; }
.row { width: auto; max-width: 100%; margin: 0 auto; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -10px; }
.column, .columns { float: left; min-height: 1px; padding: 0 10px; position: relative; margin-bottom: 30px; }
.column.wrapper, .columns.wrapper{ padding: 0px; }

.row .one 		{ width: 8.333%;}
.row .two 		{ width: 16.667%;}
.row .three 	{ width: 25%;}
.row .four 		{ width: 33.333%;}
.row .five 		{ width: 41.667%;}
.row .six 		{ width: 50%;}
.row .seven 	{ width: 58.333%;}
.row .eight 	{ width: 66.667%;}
.row .nine 		{ width: 75%;}
.row .ten 		{ width: 83.333%;}
.row .eleven	{ width: 91.667%;}
.row .twelve	{ width: 100%;}

.right-sidebar.sidebar{padding-left: 15px; float: left;}
.left-sidebar.sidebar{padding-right: 15px; float: right;}
 
.ie8 .container, .ie7 .container{ width: 960px !important; max-width: 960px !important;}

/* #Site Header
================================================ */
#header{background:#efefef url(../img/bg_header.png) repeat-x left top;border-bottom:1px solid #e6e6e6;height:90px;width:100%;z-index:1000;position:fixed; top:0;left:0;}


#logo{  text-align:center; }
#logo a{ display: table; text-align: center; width: 100%;}
#logo .text-only{height: 102px; display: table-cell; vertical-align: middle;  font-size: 22px; text-align: center; width: 100%; line-height: 30px; }
#logo a .logo-border{
	 box-shadow:0 1px 3px rgba(0,0,0,.3); -moz-box-shadow:0 1px 3px rgba(0,0,0,.3);
	 -webkit-box-shadow:0 1px 3px rgba(0,0,0,.3);
	 display: block;
	 width: 100%;
	 background-color:#fff;
	 text-align: center;
}

#logo a.no-img .logo-border{ display: table;}
#logo a:hover{ text-decoration: none;}
/*
#logo a{ background:url(../img/logo_1.png) no-repeat 0 0; display:block; height:72px; margin:15px auto; text-indent:-9999px; width:190px;}
*/

ul#lang{ color:#fff; float:right; font-size:12px; margin-top:20px; text-transform:uppercase; margin-bottom:5px;}
ul#lang a{ color:#7d7d7d; text-decoration:none;}
ul#lang a:hover{ color:#fff;}
ul#lang li{ background:url(../img/menu_footer_divider.png) right center no-repeat; float:left; margin-left:10px; padding-right:10px;}
.waw ul#lang{ margin-left: 20px;}
ul#lang li:last-child{ background:none; padding-right:0;}
#wxWrap{ float:right; margin-top:0px; height: 55px; overflow: hidden; }
#wxIntro{ color:#666; display:inline-block; font:12px/20px ; padding-top:18px; vertical-align:top;}
#wxIcon{ background:url('http://l.yimg.com/a/lib/ywc/img/wicons.png') no-repeat 61px 0; display:inline-block; height:24px; margin:1px 6px 0 0px;  width:43px; }
#wxIcon2{ display:inline-block; height:53px; margin:1px 6px 0 8px;  width:85px;}
#wxIcon2 img{ max-eight: 50px;}

#wxTemp{ color:#999; display:inline-block; font-size:22px ; line-height: 55px; margin-left:-18px; padding-top:0px; vertical-align:top;}
select.mobileMenu{ color:#444; font:14px ; margin:auto; margin-top:-10px; padding:5px;}
.top-right-weala{ height: 55px; display: block;}

/* #Site Footer
================================================ */
footer{ background:#26282b url(../img/bg_footer.png) repeat-x left top; color:#d1d1d1; padding:20px 0 10px 0; width:100%;}
#nav-footer a{ color:#d1d1d1; text-decoration:none;}
#nav-footer a:hover{ color:#fff;}
ul#nav-footer li{ background:url(../img/menu_footer_divider.png) left center no-repeat; float:left; margin-right:10px; padding-left:10px;}
ul#nav-footer li:first-child{ background:none; padding-left:0;}
/* footer menu just supported 1 level */
#nav-footer li ul{ display: none;}
.copy{ text-align:right;}
.st-full-screen footer{ display: none ;}

/* #Content
================================================ */
#slidecaption{ background:#fff; bottom:2%; box-shadow:0 1px 5px rgba(0,0,0,.5); font-size:2.20em; line-height:16px; -moz-box-shadow:0 1px 5px rgba(0,0,0,.5); padding:15px; position:fixed; right:1%; text-align:right; -webkit-box-shadow:0 1px 5px rgba(0,0,0,.5);}
#slidecaption span{ color:#999; display:block; font-size:0.50em; margin-top:10px;}
#prevslide, #nextslide{ bottom:40px; height:43px; margin-top:-21px; opacity:0.6; position:absolute; width:43px;}
#prevslide{ background:url('../img/back.png'); left:10px;}
#nextslide{ background:url('../img/forward.png'); right:10px;}
#prevslide:active, #nextslide:active{ margin-top:-19px;}
#prevslide:hover, #nextslide:hover{ cursor:pointer;}
#banner_home{ background:#fff; box-shadow:0 1px 3px rgba(0,0,0,.3); -moz-box-shadow:0 1px 3px rgba(0,0,0,.3); position:relative; top:-27px; -webkit-box-shadow:0 1px 3px rgba(0,0,0,.3); margin-bottom:20px;}

.ie8 #banner_home, .ie7 #banner_home { border:1px solid #ededed; }

ul#follow li{float:left;margin-right:10px;}
ul#follow li a{display:block;height:36px;text-indent:-9999px;width:37px;}
ul#follow li a#tw{background:url(../img/sprite_social.png) no-repeat 0 0;}
ul#follow li a:hover#tw{background:url(../img/sprite_social.png) no-repeat 0 -42px;}
ul#follow li a#rss{background:url(../img/sprite_social.png) no-repeat -47px 0;}
ul#follow li a:hover#rss{background:url(../img/sprite_social.png) no-repeat -47px -42px;}
ul#follow li a#vimeo{background:url(../img/sprite_social.png) no-repeat -94px 0;}
ul#follow li a:hover#vimeo{background:url(../img/sprite_social.png) no-repeat -94px -42px;}
ul#follow li a#fb{background:url(../img/sprite_social.png) no-repeat -141px 0;}
ul#follow li a:hover#fb{background:url(../img/sprite_social.png) no-repeat -141px -42px;}


/*============================================================================================*/
/* 2. PAGES AND CONTENT */
/*============================================================================================*/

/* #Home
================================================ */
#banner_home , .banner_home{ margin-left: 0px;} 
#banner_home .four.columns, .banner_home .four.columns{ text-align:right;}
#banner_home .four.columns a.button_yellow, .banner_home .four.columns a.button_yellow{ margin:10px;}

#back{ display:none;}



/* #Events&News
================================================ */
.event-post-item .slides li{ padding: 0px;}
.event {margin-bottom:15px;} 
.event-data{ float:left; background:url(../img/calendar-event.png) no-repeat 0 0; width:41px; text-align:center; margin-right:15px;color:#3b576b;} 
.event-data strong a{color:#3b576b;} 
.event-data a:hover{ text-decoration:none;} 
.event-data strong{ padding-top:25px; font-size:20px; display:block; margin-bottom:8px;} 
.event-data span { text-transform:uppercase; } 



.event ul{ margin-bottom:0px; padding-bottom:0px;} 
.event ul li { float: left; padding-left:20px; margin-right:20px;} 

.event ul li.map-marker { background:url(../img/pin.png) no-repeat center left;} 
.event ul li.time { background:url(../img/time.png) no-repeat center left; padding-left:23px;} 
.event ul li.price { background:url(../img/cost.png) no-repeat center left;} 

.event-detail { padding: 0 0 0 0; margin-bottom:15px; border-bottom:3px solid #f2f2f2; padding-bottom:5px; } 
.event-detail ul{ margin-bottom:0px; padding-bottom:0px;} 
.event-detail ul li { float: left; padding-left:20px; margin-right:20px;} 

.event-detail ul li.map-marker { background:url(../img/pin.png) no-repeat center left;} 
.event-detail ul li.time { background:url(../img/time.png) no-repeat center left; padding-left:23px;} 
.event-detail ul li.price { background:url(../img/cost.png) no-repeat center left;} 

body a.button-2, body a.button-2:visited{color:#fff; background:#3b576b; display:inline-block; padding:5px 10px; text-decoration:none;} 
body a.button-2:hover{background:#111 ; color: #fff; } 

ul#up-coming-list li h5 a { background:url(../img/arrow_3.png) no-repeat center right; padding-right:10px;} 
ul#up-coming-list {padding-bottom:5px; } 

ul#recent-event-list li img { float:left; margin-right:10px; border:4px solid #ededed;  } 
ul#recent-event-list li p{ line-height:18px; padding:0; margin: 0 0 0 0;} 
ul#recent-event-list { margin-bottom:40px;} 
ul#recent-event-list li { margin-bottom:20px;} 
ul#recent-event-list li a{ display: inline-block; font-style:italic; margin-top:5px; background:url(../img/arrow_3.png) no-repeat center right; padding-right:10px; } 

ul#tweet-feed li { background:url(../img/twitter.png) no-repeat left 2px; padding-left:30px;  line-height:18px; }
ul#tweet-feed li a{ display: inline-block; font-style:italic;  background:url(../img/arrow_3.png) no-repeat center right; padding-right:10px; }  
ul#tweet-feed { padding-bottom:5px;} 

.news-title ul li { float:left; margin-right:20px; padding-left:15px;}
.news-title ul li.date { background:url(../img/icon_date.png) no-repeat left center; }
.news-title ul li.auth { background: url(../img/icon_user.png) no-repeat left center; }
.news-title ul li.comments { background: url(../img/icon_comments.png) no-repeat left center; }
.news-title ul li.category { background: url(../img/icon-cat.png) no-repeat left center; padding-left:19px; }
/* for comment list */

#comments {padding:0 0 7px 0;  font-size: 13px; }
#comments  .comment{  font-size: 13px; }
#comments ul {padding:0;margin:0;list-style:none;}
#comments ol {padding:0;margin:0;list-style:none;}
#comments li {padding:0 0 23px 0;list-style:none;}
#comments .avatar {float:left;margin-right:11px;}
#comments .avatar {-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;	}
.comment_right {display:table;}
.comment_right p { line-height:18px; font-size:13px;}
.comment_info {padding-bottom:7px;}
.comment_info span {padding:0 12px;}
#comments ol li ul li {padding:23px 0 0 30px;margin:0; }
#comments .comment-content{ margin-left: 70px; margin-top: 5px; }
.comment-reply-link{ float: right; }
#comments .comment-header-right{ padding-top: 8px;}
#comments .comment-header-right p{ margin: 0px; }
.comment-edit-link{ margin-left: 10px;}
.comments-header-title{ margin-bottom: 20px;}

/* for comment form */
#commentform  select{ padding:0;}
#commentform  label,
#commentform  legend{ display:block; font-size:13px; font-weight:bold;}
#commentform  input[type="checkbox"]{ display:inline;}
#commentform  label{ color:#626262; display:block; font-size:15px; float: left; }
#commentform  input[type="email"], #commentform  input[type="text"],
#commentform  textarea{ width: 95%; background:#fff; border:1px solid #dcdcdc; border-radius:3px; color:#555;  font-size:12px; margin:2px 0 5px 0; -moz-border-radius:3px; padding:5px; -webkit-border-radius:3px; }
#commentform  select{ background:#fff; border:1px solid #dcdcdc; border-radius:3px; color:#555; display:block;  font-size:12px; height:28px; margin:2px 0 5px 0; -moz-border-radius:3px; padding:4px; -webkit-border-radius:3px; width:120px;}
#commentform  input.long{ width:95%;}
#commentform  input.error{ box-shadow:0 0 3px rgba(61,210,229,0.5); -moz-box-shadow:0 0 3px rgba(61,210,229,0.5); -webkit-box-shadow:0 0 3px rgba(61,210,229,0.5);}
#commentform  label.error{ color:#9e0b0f; display:block; font-size:11px; height:15px; margin:0 0 10px 0; padding:4px 10px; z-index:9999;}
#commentform  .required{ color: #ab2d1e;}
#commentform .form-line{ clear: botth; }



/*============================================================================================*/
/* 3. MISC */
/*============================================================================================*/
.picture{ position:relative; text-align: center;}
.picture em{ background:url(../img/shadow_1.png) no-repeat center top; display:block; height:10px; margin-bottom:10px; margin-top:-3px; width:100%}
.picture.video .clear{display: block; line-height: 1px; height: 5px;}
.magnify{ background:url(../img/zoom_1.png) no-repeat 10px 10px; display:none; height:92%; left:0; position:absolute; top:0; width:100%; z-index:999;}

.ie8 .picture em{ background:url(../img/shadow_1.png) no-repeat center top; display:block; height:10px; margin-bottom:10px; margin-top:-2px; width:100%}
.ie7 .picture em{ background:url(../img/shadow_1.png) no-repeat center top; display:block; height:10px; margin-bottom:10px; margin-top:1px; width:100%}

ul.list_3 li{ background:url(../img/tick_1.png) no-repeat left 3px; line-height:16px; padding-left:20px;}
ul.list_4 li{ background:url(../img/arrow_2.png) no-repeat 3px 5px; line-height:18px; padding-left:20px;}
ul.list_5 li{ background:url(../img/arrow_3.png) no-repeat 5px 7px; line-height:18px; padding-left:20px;}
ul.list_6 li{ background:url(../img/arrow_4.png) no-repeat 4px 6px; line-height:18px; padding-left:20px;}
ul.room_facilities{ padding-bottom:0px;}
ul.room_facilities li{ display:block; float:left; height:30px; margin:0 10px 10px 0;  width:30px;}
ul.room_facilities li a{ cursor:pointer; display:block; height:30px; width:30px;}
ul.room_facilities li.lcd a{ background:url(../img/icons_room.png) no-repeat -1px 0;}
ul.room_facilities li.wifi a{ background:url(../img/icons_room.png) no-repeat -50px 0;}
ul.room_facilities li.safe a{ background:url(../img/icons_room.png) no-repeat -97px 0;}
ul.room_facilities li.bath a{ background:url(../img/icons_room.png) no-repeat -144px 0;}
ul.room_facilities li.loundry a{ background:url(../img/icons_room.png) no-repeat -192px 0;}
ul.room_facilities li.parking a{ background:url(../img/icons_room.png) no-repeat -242px 0;}
ul.room_facilities li.breakfast a{ background:url(../img/icons_room.png) no-repeat -288px 0;}
ul.room_facilities li.dinner a{ background:url(../img/icons_room.png) no-repeat -335px 0;}

.facilities_desc{ background-color:#f9f9f9; border:1px solid #ededed; padding:12px}
.facilities_desc ul li { border-bottom:1px solid #e8e8e8;}
.facilities_desc ul li:last-child { border-bottom: none; }


/*============================================================================================*/
/* 4. MEDIA QUERIES */
/*============================================================================================*/
	
z/* Smaller than standard 960 (devices and browsers) ========================================= */
@media only screen and (max-width: 959px) {
	
}

/* Tablet Portrait size to standard 960 (devices and browsers) ================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
   .container{ width: 768px;}
   /*
   #logo a{ background:url(../img/logo_2.png) no-repeat 0 0; display:block; height:54px; margin:15px auto; text-indent:-9999px; width:142px;}

	*/
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
     .container { width: 300px; }
      
   	body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none;width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; padding-top:0px; }
		
	.container{ margin: 0px auto; max-width: 420px; }
    .right-sidebar.sidebar,  .left-sidebar.sidebar{padding-left: 0px; padding-right:0px;}
 
	.row { width: auto; min-width: 0; margin-left: 0; margin-right: 0; }
	.row .column, .row .columns { width: 100%; float: none; }
	.column:last-child, .columns:last-child { float: none; }
	[class*="column"] + [class*="column"]:last-child { float: none; }
	.column:before, .columns:before, .column:after, .columns:after { content: ""; display: table; }
	.column:after, .columns:after { clear: both; }
    #header  nav{ text-align: center;}
    select.mobileMenu{ color:#444; font:14px 'PT Sans Narrow', sans-serif; margin:auto; padding:5px;}
    
    .admin-bar .flexslider{ margin-top: 50px;}
    
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container { width: 420px; }
    .admin-bar #header{top:0px;}
    
    body{ margin-top:0;}
    #header{ height:210px; position:relative;}
    #back{ display:block; position:absolute; right:70px; top:6px; width:80px;}
    #wxWrap{ float:left;}
    ul#lang{ color:#222;}
    ul#lang a{ color:#666; text-decoration:none;}
    ul#lang a:hover{ color:#222;}
    .banner_home h2{ color:#636363; font-size:26px; margin-bottom:0; }
    .banner_home .text-right, .banner_home{ text-align:center;}
    
    ul#nav-footer{ text-align:center; width:100%;}
    ul#nav-footer li{ background:url(../img/menu_footer_divider.png) left center no-repeat; display:inline; float:none; margin-right:10px; padding-left:10px;}
    ul#nav-footer li:first-child{ background:none;}
    .copy{ margin-bottom:10px; text-align:center;}
    body.full #header{ background:#efefef url(../img/bg_header.png) repeat-x left -20px; border-bottom:1px solid #e6e6e6; height:38px; width:100%; z-index:2;}
    body.full .four.columns{ float:left; margin-left:-25px; width:160px;}
    body.full ul#lang a, #back a{ color:#ccc; text-decoration:none;}
    body.full ul#lang a:hover, #back a:hover{ color:#fff;}
    body.full nav{ display:none;}
    body.full #wxWrap{ display:none;}
    body.full .twelve.columns{ float:right; margin-right:-20px; margin-top:8px; width:90px;}
    body.full .twelve.columns ul#lang{ float:right;}
    body.full .twelve.columns ul#lang{ margin:0; padding:0;}
    body.full #logo a{ background:url(../img/logo_2.png) no-repeat 0 0; display:block; height:54px; margin:5px auto; text-indent:-9999px; width:142px;}
    body.full #slidecaption{ background:#fff; bottom:2%; box-shadow:0 1px 5px rgba(0,0,0,.5); font-size:1.30em; line-height:7px; -moz-box-shadow:0 1px 5px rgba(0,0,0,.5); padding:10px; position:absolute; right:2%; text-align:right; -webkit-box-shadow:0 1px 5px rgba(0,0,0,.5);}
    body.full #slidecaption span{ color:#999; display:block; font-size:0.70em; margin-top:10px;}
    .admin-bar .flexslider{ margin-top: 50px;}
    
    .woocommerce ul.products li{ width: 100% !important; }
    .woocommerce-page ul.products li .product-wrap{ padding: 0px !important;}
    .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
    .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2
    {width: 100% !important; }
    
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    
    .container { width: 420px; }
    .admin-bar #header{top:0px;}
    #main-nav{ displau: none;}
    body{ margin-top:0;}
    #header{ height:210px; position:relative;}
    ul#lang{ color:#222;}
    ul#lang a{ color:#666; text-decoration:none;}
    ul#lang a:hover{ color:#222;}
    
    #wxWrap{ float:left;}
    ul#nav-footer{ text-align:center; width:100%;}
    ul#nav-footer li{ background:none; float:none; margin-right:0; padding-left:0;}
    
    .flex-caption {width: 35%; padding: 2%; position: absolute; left: 5px; bottom: 0; background: rgba(0,0,0,.6); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.5); font-size: 12px; line-height: 14px;}
    
    .banner_home h2{ color:#636363; font-size:26px; margin-bottom:0; }
    .banner_home .text-right, .banner_home{ text-align:center;}
    
    .copy{ margin-bottom:10px; text-align:center;}
    body.full #header{ background:#efefef url(../img/bg_header.png) repeat-x left -20px; border-bottom:1px solid #e6e6e6; height:38px; width:100%; z-index:2;}
    body.full .four.columns{ margin-left:-5px; width:160px;}
    body.full ul#lang a{ color:#ccc; text-decoration:none;}
    body.full ul#lang a:hover{ color:#fff;}
    body.full nav{ display:none;}
    body.full #wxWrap{ display:none;}
    body.full .twelve.columns{ float:right; position:absolute; right:-5px; top:8px; width:100px;}
    body.full .twelve.columns ul#lang{ margin:0; padding:0;}
    body.full #logo a{ background:url(../img/logo_2.png) no-repeat 0 0; display:block; height:54px; margin:5px auto; text-indent:-9999px; width:142px;}
    body.full #slidecaption{ background:#fff; bottom:2%; box-shadow:0 1px 5px rgba(0,0,0,.5); font-size:1.40em; line-height:12px; -moz-box-shadow:0 1px 5px rgba(0,0,0,.5); padding:10px; position:absolute; right:2%; text-align:right; -webkit-box-shadow:0 1px 5px rgba(0,0,0,.5); width:150px;}
    body.full #slidecaption span{ color:#999; display:block; font-size:0.60em; margin-top:5px;}
    
    .admin-bar .flexslider{ margin-top: 50px;}
    
    .woocommerce ul.products li{ width: 100% !important; }
    .woocommerce-page ul.products li .product-wrap{ padding: 0px !important;}
    
    
}

	@media only screen and (max-width: 420px) {
	    .container { width: 380px; }
	     #logo a ,#mobileMenu_main-nav, #header nav{width: 380px;}
        #logo a img{ max-width: 380px;}
        
         .evcalendar ul.dates li{ width: 25%;}
	    .evcalendar .label{ display: none;}
	    
	    .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 ,
	    .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
	    .woocommerce .form-row
	    {width: 100% !important;  float: none !important; }
	    
	}

/* Mobile Portrait Size to Mobile Landscape Size SMALL phone (devices and browsers) (1) */

	@media only screen and  (max-width: 320px) {
	    
	     #logo a , #mobileMenu_main-nav, #header nav{width: 280px;}
	    #logo a img{ max-width: 280px;}
	    .container { width: 300px;  max-width: 300px;}
	    .searchform .s{width: 115px;}
	    
	    
	    .evcalendar ul.dates li{ width: 25%;}
	    .evcalendar .label{ display: none;}
	    
	    
	    .rate{ width: 100%; height: auto; }
	    .rate .total_votes{ float: none; display: block; text-align: center; position: inherit; clear: both; width: 90%; margin: 0 auto;}
	    
	}
	
	@media only screen and (max-width: 240px) {
	     .container { width: 220; }
	     #logo a , #mobileMenu_main-nav, #header nav{width: 200px;}
	    #logo a img{ max-width: 200px;}
	    .searchform .s{ 115px;}
	    .rate{ width: 100%;  height: auto;}
	    .rate .total_votes{ float: none; display: block; text-align: center;  position: inherit; clear: both; width: 90%; margin: 0 auto;}
	}
	
	
	
	
