ul#main-nav {
	margin:0px;
	padding:0px;
	display:block;
	float: right;
}
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			13em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			3.0em; /* match top ul list item height */
	z-index:		99;
	
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
/*** SKIN ***/
.sf-menu {
	float:			left;
	background: url(../img/menu_top_divider.png) no-repeat right top;
}
.sf-menu a {
	padding: 	9px 13px 9px 15px;
	text-decoration:none;
}


.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#444;
}
.sf-menu li a:hover,
.sf-menu > li.current-menu-item > a,
.sf-menu li.current-menu-parent > a  { 
	color:			#fff;
	background: url(../img/bg_menu__hover.png) no-repeat 0 0;
	text-shadow:0 1px 1px rgba(0,0,0,.9);
}
.sf-menu li {
	background: url(../img/menu_top_divider.png) no-repeat left top;
	text-transform:uppercase;
	font-size:14px;
}
.sf-menu li li {
	background:		#ededed;
	border-bottom:1px solid #fff;
	font-size:15px;	
	text-transform: none;
	
}
.sf-menu li li a:hover {
	background: url(../img/bg_menu__hover.png) no-repeat -4px 0;
	text-shadow: none;
}

.sf-menu li li li {
	background:		#f5f5f5;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline:		0;
}
.sf-menu a:hover, .sf-menu a:active {
	outline:		0;
}