@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
.main-holder { background:#FFFFFF url(images/bg-top-content.jpg) no-repeat 50% 0; }
.home .main-holder {
	overflow:hidden;
	background:#FFFFFF url(images/bg-top.jpg) no-repeat 50% 0;
	position:relative;
}
.home .main-holder:after {
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	background:url(images/top-shadow.png) repeat-x;
	top:0;
	left:0;
}
@media (max-width: 767px) {
	body { padding:0; }
	body .header { padding:20px 20px 0 20px; }
	body .footer {
		padding:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	body .content-holder { padding:20px; }
}
a { transition:all 0.3s ease 0s; }
h1, h2, h3, h4, h5, h6 { text-transform:uppercase; }
@media (max-width: 1200px) {
	h1, h2, h3, h4, h5, h6 { line-height:1.2em; }
}
.featured-thumbnail, .thumbnail, img.size-full {
	background:none;
	border-radius:0;
	padding:0;
	border:none;
	box-shadow:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.btn, .reply a {
	border-radius:0;
	border:none;
	color:#fff;
	text-shadow:none;
	font:600 14px/1.2em 'Open Sans', sans-serif;
	text-transform:uppercase;
	padding:11px 24px;
	letter-spacing:0;
	height:auto;
	box-shadow:none;
	text-decoration:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	transition:all 0.3s ease 0s;
	box-shadow:1px 2px 0 rgba(0,0,0,0.3);
	background-color:#2c333a;
	background-image:-moz-linear-gradient(top,#30373f,#272d33);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#30373f),to(#272d33));
	background-image:-webkit-linear-gradient(top,#30373f,#272d33);
	background-image:-o-linear-gradient(top,#30373f,#272d33);
	background-image:linear-gradient(to bottom,#30373f,#272d33);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff30373f', endColorstr='#ff272d33', GradientType=0);
}
.btn:focus, .btn:hover, .reply a:focus, .reply a:hover {
	background:#5fb8be;
	box-shadow:none;
	text-decoration:none;
	color:#fff;
}
.btn:active, .reply a:active { background:#5fb8be; }
.btn.spacer-btn, .reply a.spacer-btn { margin-top:25px; }
@media (max-width: 767px) {
	.btn.spacer-btn, .reply a.spacer-btn { margin-top:0; }
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	padding:4px 7px;
	margin:0 0 10px 0;
	font-size:14px;
	line-height:1.2em;
	text-transform:none;
	color:#787878;
	text-decoration:none;
	position:relative;
	border-radius:0;
	border:1px solid #4b4d47;
	background:none;
	box-shadow:none;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	box-shadow:none;
	border-color:#787878;
}
.wpcf7-form p.field input {
	padding-top:5px;
	padding-bottom:5px;
}
.wpcf7-form p.field input:focus { border-color:#787878 !important; }
.wpcf7-form textarea { color:#787878 !important; }
.wpcf7-form textarea:focus { border-color:#787878 !important; }
.wpcf7-form textarea.watermark { color:#787878 !important; }
.wpcf7-form .wpcf7-not-valid-tip { padding:2px 8px 2px !important; }
@media (min-width: 979px) and (max-width: 1200px) {
	.wpcf7-form .wpcf7-not-valid-tip { font-size:8px !important; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.wpcf7-form .wpcf7-not-valid-tip {
		padding:2px 3px !important;
		font-size:7px !important;
	}
}
.wpcf7-form .submit-wrap .btn { height:auto; }
.header {
	background:none;
	border:none;
	padding-bottom:0;
}
.social-nets-wrapper .social {
	list-style-type:none;
	margin:64px 0 0 0;
	text-align:right;
}
@media (max-width: 767px) {
	.social-nets-wrapper .social {
		text-align:left;
		margin:20px 0 0 0;
	}
}
.social-nets-wrapper .social li {
	display:inline-block;
	width:34px;
	height:34px;
	overflow:hidden;
	border-radius:50%;
	margin-left:9px;
	text-align:center;
	line-height:32px;
	box-shadow:2px 2px 0 rgba(29,29,34,0.4);
}
.social-nets-wrapper .social li:first-child { margin-left:0; }
.social-nets-wrapper .social li a {
	width:34px;
	height:34px;
	background:#2f363e;
	display:inline-block;
}
.social-nets-wrapper .social li a img { transition:all 0.3s ease 0s; }
.social-nets-wrapper .social li a:hover { background:#66d1d8; }
.social-nets-wrapper .social li a:hover img {
	-webkit-transform:rotateY(360deg);
	-moz-transform:rotateY(360deg);
	-ms-transform:rotateY(360deg);
	-o-transform:rotateY(360deg);
	transform:rotateY(360deg);
}
.nav-wrap {
	margin-top:34px;
	background-color:#66d1d7;
	background-image:-moz-linear-gradient(top,#6ed5db,#59cbd2);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#6ed5db),to(#59cbd2));
	background-image:-webkit-linear-gradient(top,#6ed5db,#59cbd2);
	background-image:-o-linear-gradient(top,#6ed5db,#59cbd2);
	background-image:linear-gradient(to bottom,#6ed5db,#59cbd2);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6ed5db', endColorstr='#ff59cbd2', GradientType=0);
}
@media (max-width: 767px) {
	.nav-wrap {
		margin-top:20px;
		background:none;
	}
}
.nav-wrap {
	position:relative;
	padding:0;
	z-index:100;
	-webkit-transform:translateZ(0);
}
.nav-wrap.isStuck {
	margin-top:0;
	position:relative;
}
.nav-wrap.isStuck >div {
	position:relative;
	z-index:10;
}
.nav-wrap.isStuck:before, .nav-wrap.isStuck:after {
	content:"";
	display:block;
	height:100%;
	position:absolute;
	top:0;
	width:101%;
	background:inherit;
	border:inherit;
	z-index:1;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.nav-wrap.isStuck:before { left:-100%; }
.nav-wrap.isStuck:after { right:-100%; }
@media (max-width: 998px) {
	.nav-wrap.isStuck {
		position:relative !important;
		top:0 !important;
		border:none;
		background-color:transparent;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
}
.ie8 .nav-wrap.isStuck {
	position:relative !important;
	top:0 !important;
	border:none;
	background-color:transparent;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
@media (max-width: 998px) {
	.pseudoStickyBlock { height:0 !important; }
}
.nav__primary {
	position:relative;
	float:none;
	overflow:visible;
	margin:0;
	border:none;
	padding:0;
}
.nav__primary .sf-menu {
	float:left;
	display:block;
	position:relative;
	padding:0;
	z-index:1;
	border-right:1px solid #91e5e9;
}
@media (max-width: 767px) {
	.nav__primary .sf-menu { display:none !important; }
}
.nav__primary .sf-menu >li {
	background:none;
	float:left;
	position:relative;
	border:none;
	padding:0;
	margin:0;
	width:160px;
	background:none;
	border-left:1px solid #91e5e9;
	border-right:1px solid #37bdc6;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.nav__primary .sf-menu >li { width:120px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.nav__primary .sf-menu >li { width:95px; }
}
.nav__primary .sf-menu >li.home { width:67px; }
@media (min-width: 768px) and (max-width: 979px) {
	.nav__primary .sf-menu >li.home { width:40px; }
}
.nav__primary .sf-menu >li.home a {
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	background:url(images/home.png) no-repeat 50%;
	display:block;
}
.nav__primary .sf-menu >li:first-child { border-left:none; }
.nav__primary .sf-menu >li:before {
	content:'';
	width:100%;
	height:0;
	background-color:#43c1ca;
	background-image:-moz-linear-gradient(top,#48c7cf,#3bb9c3);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#48c7cf),to(#3bb9c3));
	background-image:-webkit-linear-gradient(top,#48c7cf,#3bb9c3);
	background-image:-o-linear-gradient(top,#48c7cf,#3bb9c3);
	background-image:linear-gradient(to bottom,#48c7cf,#3bb9c3);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff48c7cf', endColorstr='#ff3bb9c3', GradientType=0);
	position:absolute;
	top:0;
	left:0;
	transition:all 0.3s ease 0s;
}
.nav__primary .sf-menu >li:hover:before { height:100%; }
.nav__primary .sf-menu >li >a {
	border:none;
	padding:26px 0 27px;
	display:block;
	text-transform:uppercase;
	border-radius:0;
	position:relative;
	letter-spacing:-0.5px;
	transition:all 0.3s ease 0s;
	background:none;
	font-weight:600;
	overflow:hidden;
}
.nav__primary .sf-menu >li >a:hover { text-decoration:none; }
.nav__primary .sf-menu >li >a:hover .sf-sub-indicator { background-position:-10px -100px; }
.nav__primary .sf-menu >li >a >.sf-sub-indicator {
	position:absolute;
	display:inline-block;
	top:50px;
	left:50%;
	margin-left:-5px;
	background:url("images/arrows-ffffff.png") no-repeat scroll 0 -100px transparent;
}
.nav__primary .sf-menu >li.current-menu-item:before { height:100%; }
.nav__primary .sf-menu >li.current-menu-item >a { text-decoration:none; }
.nav__primary .sf-menu >li.sfHover:before { height:100%; }
.nav__primary .sf-menu >li.sfHover >a { text-decoration:none; }
.nav__primary .sf-menu >li.sfHover >a .sf-sub-indicator { background-position:-10px -100px; }
.nav__primary .sf-menu >li >.sub-menu {
	height:auto !important;
	background-color:#6dd5da;
	background-image:-moz-linear-gradient(top,#76d9de,#60cfd5);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#76d9de),to(#60cfd5));
	background-image:-webkit-linear-gradient(top,#76d9de,#60cfd5);
	background-image:-o-linear-gradient(top,#76d9de,#60cfd5);
	background-image:linear-gradient(to bottom,#76d9de,#60cfd5);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff76d9de', endColorstr='#ff60cfd5', GradientType=0);
	top:70px;
	left:0;
	width:auto;
	padding:21px;
	margin:0;
	border:none;
	border-radius:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	z-index:10000;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.nav__primary .sf-menu >li >.sub-menu { width:140px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.nav__primary .sf-menu >li >.sub-menu { width:140px; }
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item {
	background:none;
	text-align:center;
	border:none;
	display:inline-block;
	padding:7px 0;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item a {
	padding:0;
	background:none;
	border:none;
	color:#fff;
	text-transform:uppercase;
	display:inline-block;
	letter-spacing:0;
	border-radius:0;
	margin:0;
	letter-spacing:-0.5px;
	font:600 14px/1.2em 'Open Sans', sans-serif;
	transition:all 0.3s ease 0s;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item a:hover {
	color:#353535;
	text-shadow:none;
	background:none;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item a >.sf-sub-indicator {
	top:2px;
	right:-15px;
	left:auto;
	background:url("images/arrows-ffffff.png") no-repeat scroll 0 0 transparent;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item.sfHover >a {
	color:#181818;
	text-shadow:none;
	background:none;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item.sfHover >a .sf-sub-indicator { background-position:-10px 0; }
.nav__primary .sf-menu >li >.sub-menu >.menu-item.current-menu-item a {
	color:#181818;
	text-shadow:none;
	background:none;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu {
	background:#303030;
	padding:21px;
	margin:0 0 0 32px;
	top:-21px;
	left:100%;
	border-radius:0;
	width:100%;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu:after {
	position:absolute;
	content:"";
	width:5px;
	height:10px;
	background:url(images/submenu-arrow.png) no-repeat;
	left:-5px;
	top:32px;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item {
	background:none;
	text-align:center;
	border:none;
	padding:7px 0;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item a {
	padding:0;
	color:#FFFFFF;
	display:inline-block;
	background:none;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item a:hover {
	color:#d9bb4b;
	text-shadow:none;
	background:none;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item.current-menu-item a {
	color:#d9bb4b;
	text-shadow:none;
	background:none;
}
@media (max-width: 1200px) {
	.search-form__h {
		width:100%;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
}
.search-form__h #search-header {
	position:relative;
	width:100%;
	text-align:right;
	margin:16px 20px 0;
}
.search-form__h #search-header .search-form_it {
	width:242px;
	background:#54bac1;
	border-radius:10px;
	padding-right:40px;
	border:none;
	height:39px;
	color:#ffffff;
	box-shadow:inset 1px 1px 0 #4da9af;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (max-width: 1200px) {
	.search-form__h #search-header .search-form_it { width:100%; }
}
.search-form__h #search-header .search-form_it:focus { box-shadow:inset -1px -1px 0 #e3e3e3; }
.search-form__h #search-header .search-form_is {
	position:absolute;
	right:10px;
	top:8px;
	margin:0;
	padding:0;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	background:url(images/search.png) no-repeat;
	width:22px;
	height:23px;
	box-shadow:none;
	transition:none;
}
.search-form__h #search-header .search-form_is:hover { background-position:0 -43px; }
.logo { margin:50px 0 0 0; }
@media (min-width: 768px) and (max-width: 979px) {
	.logo { width:100%; }
}
@media (max-width: 767px) {
	.logo {
		float:none !important;
		margin:20px 0 0;
	}
}
.logo .logo_tagline {
	font:300 15px/1em 'Open Sans', sans-serif;
	color:#d3d3d3;
	text-transform:uppercase;
	position:relative;
	top:-16px;
	left:73px;
}
.logo .logo_h__txt {
	position:relative;
	top:-15px;
}
.logo .logo_h__txt a:hover, .logo .logo_h__txt a:active {
	color:#fff;
	text-decoration:none;
}
.slider {
	box-shadow:1px 2px 0 rgba(0,0,0,0.3);
	margin-bottom:8px;
}
.camera { margin-bottom:0 !important; }
.camerarelative { background:url(images/slider-shadow.png) repeat-x; }
.camera_prev, .camera_next {
	width:53px;
	height:54px;
	top:auto;
	bottom:108px;
	margin:0;
	background:none;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.camera_prev, .camera_next { bottom:50px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.camera_prev, .camera_next { bottom:40px; }
}
@media (max-width: 767px) {
	.camera_prev, .camera_next { bottom:20px; }
}
@media (max-width: 400px) {
	.camera_prev, .camera_next { display:none !important; }
}
.camera_prev span, .camera_next span {
	width:53px;
	height:54px;
}
.camera_prev { left:84px; }
@media (min-width: 768px) and (max-width: 979px) {
	.camera_prev { left:40px; }
}
@media (max-width: 767px) {
	.camera_prev {
		left:auto;
		right:75px;
	}
}
.camera_prev span { background:url(images/nav-slider.png) no-repeat; }
.camera_prev span:hover { background-position:0 -54px; }
.camera_next { left:139px; }
@media (min-width: 768px) and (max-width: 979px) {
	.camera_next { left:95px; }
}
@media (max-width: 767px) {
	.camera_next {
		left:auto;
		right:20px;
	}
}
.camera_next span { background:url(images/nav-slider.png) no-repeat -53px 0; }
.camera_next span:hover { background-position:-53px -54px; }
.camera_caption {
	bottom:auto !important;
	top:145px;
	left:85px;
	width:80%;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.camera_caption { top:80px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.camera_caption {
		top:20px;
		left:40px;
		width:90%;
	}
}
@media (max-width: 767px) {
	.camera_caption {
		top:20px;
		left:20px;
		width:80%;
	}
}
@media (max-width: 480px) {
	.camera_caption { display:none !important; }
}
.camera_caption >div {
	background:none;
	display:inline;
	padding:0;
}
.camera_caption >div h2 {
	font-size:50px;
	line-height:50px;
	font-weight:300;
	color:#5ecdd4;
	margin:0;
	display:block;
}
@media (max-width: 767px) {
	.camera_caption >div h2 {
		font-size:30px;
		line-height:1em;
	}
}
.camera_caption >div h2 b {
	font-weight:600;
	color:#fff;
}
.camera_thumbs_cont {
	background:none;
	position:relative;
	bottom:70px;
}
@media (max-width: 1200px) {
	.camera_thumbs_cont { display:none !important; }
}
.camera_wrap { margin-bottom:0 !important; }
.camera_wrap .camera_pag {
	position:relative;
	bottom:58px;
	left:auto;
}
@media (max-width: 767px) {
	.camera_wrap .camera_pag { display:none !important; }
}
@media (max-width: 767px) {
	.camera_commands { display:none !important; }
}
.content-holder {
	background:#FFFFFF url(images/bg-content.png) 0 0;
	position:relative;
}
.content-holder:before {
	content:"";
	position:absolute;
	width:100%;
	height:806px;
	bottom:0;
	left:0;
}
.home .content-holder {
	background:none;
	position:relative;
	padding-bottom:63px;
}
.home .content-holder:after {
	content:"";
	position:absolute;
	width:100%;
	height:806px;
	background:url(images/bg-content.png) 0 0;
	bottom:0;
	left:0;
	z-index:-1;
}
.title-section {
	margin:42px 0 0;
	padding:0;
	position:relative;
}
.title-section .title-header {
	margin:0 0 24px;
	font:600 25px/1.2em 'Open Sans', sans-serif;
	color:#5ecdd4;
}
.title-section .breadcrumb {
	background:none;
	padding:10px 0;
	text-transform:none;
	text-shadow:none;
	letter-spacing:0;
	border-top:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
	border-radius:0;
	font:14px/1.2em Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.title-section .breadcrumb >li { text-shadow:none; }
.title-section .breadcrumb >li.active { color:#787878; }
.title-section .breadcrumb a {
	color:#5ecdd4;
	text-shadow:none;
	font-size:14px;
}
.title-section .breadcrumb .divider {
	padding:0 4px;
	color:#787878;
}
.breadcrumb__t li.divider:after { color:#787878; }
@media (max-width: 767px) {
	#content.left { float:none !important; }
}
#content, #sidebar { padding-top:43px; }
@media (max-width: 480px) {
	article .thumbnail {
		width:auto !important;
		display:inline-block;
		float:none;
		margin:0 0 20px 0;
	}
	article .thumbnail img { width:100%; }
}
article .post-header .post-title {
	font-size:20px;
	margin:11px 0 26px;
	font-weight:300;
	line-height:1.2em;
	color:#5ecdd4;
}
article .post-header .post-title a { color:#5ecdd4; }
article .post-header .post-title a:hover {
	color:#d9bb4b;
	text-decoration:none;
}
article .post_meta {
	padding:10px 0;
	border-top:1px solid #2e3d47;
	border-bottom:1px solid #2e3d47;
	position:relative;
	display:block;
	margin-bottom:20px;
	overflow:visible;
}
article .post_meta .post_meta_unite { border-top:1px solid #2e3d47; }
article .post_meta i {
	margin-right:6px;
	color:#d9bb4b;
	font-size:15px;
}
article .post_meta time { color:#27343d; }
article .post_meta span {
	font:14px/1.2em Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin-right:10px;
}
article .post_meta .post_date { color:#fff; }
article .post_meta .post_author a { color:#d9bb4b; }
article .post_meta .post_category a, article .post_meta .post_tag a, article .post_meta .post_tag { color:#27343d; }
article .post_meta .post_comment a { color:#27343d; }
article .post_meta .user_like, article .post_meta .post_views { color:#27343d; }
article .post_meta .post_permalink { float:none; }
article .post_meta .post_permalink a { color:#27343d; }
article div.jp-playlist li a:hover, article div.jp-playlist li.jp-playlist-current a { color:#b8b8b8; }
article .quote-wrap blockquote {
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:15px;
	line-height:1.2em;
	font-style:normal;
	color:#afafaf;
	font-weight:bold;
}
.single #content article { margin-bottom:0; }
@media (min-width: 768px) and (max-width: 1000px) {
	.single #content article .thumbnail { float:left; }
	.single #content article .thumbnail img { margin:0; }
}
@media (max-width: 480px) {
	.single #content article .thumbnail { width:100%; }
	.single #content article .thumbnail img { width:100%; }
}
.single #content .share-buttons {
	margin-bottom:20px;
	margin-top:0px;
}
.single #content .share-buttons .pinterest img { vertical-align:top; }
.single #content .post-author {
	padding:20px 30px;
	border:none;
	background:#30373f;
}
.single #content .post-author .post-author_h {
	font:14px/1.2em Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight:normal !important;
	margin:0 0 15px 0;
	letter-spacing:0;
	text-transform:none;
	color:#a1a1a1;
}
.single #content .post-author .post-author_h a { color:#d9bb4b; }
.single #content .post-author .post-author_gravatar {
	display:block;
	margin:0 20px 20px 0;
	padding:0;
	border:none;
}
.single #content .post-author .post-author_gravatar img {
	width:58px;
	height:58px;
	padding:14px;
	background:#d9d9d9;
	border:none;
}
.single #content .post-author .post-author_desc {
	padding-left:110px;
	text-transform:none;
	color:#a1a1a1;
}
.single #content .post-author .post-author_link {
	margin-top:20px;
	font-size:14px;
	text-transform:none;
	color:#a1a1a1;
}
.single #content .post-author .post-author_link p { margin:0; }
.single #content .post-author .post-author_link a {
	font-size:14px;
	color:#d9bb4b;
}
.filter-wrapper { margin:0px 0 22px; }
.filter-wrapper strong {
	color:#FFF;
	padding:0;
	font:600 14px/1.2em 'Open Sans', sans-serif;
	margin-right:0px;
	margin-top:10px;
	text-transform:uppercase;
	letter-spacing:0;
}
@media (max-width: 979px) {
	.filter-wrapper strong {
		display:block;
		float:none;
		margin-bottom:20px;
	}
}
.filter-wrapper .filter { margin:0; }
@media (max-width: 767px) {
	.filter-wrapper .filter {
		float:none;
		display:block;
	}
}
.filter-wrapper .filter li { margin:0 0 0 10px; }
@media (min-width: 768px) and (max-width: 979px) {
	.filter-wrapper .filter li:first-child { margin:0; }
}
@media (max-width: 767px) {
	.filter-wrapper .filter li {
		display:block;
		float:none;
		margin:0 0 5px 0;
	}
}
.filter-wrapper .filter li a {
	color:#181818;
	font:600 14px/1.2em 'Open Sans', sans-serif;
	padding:10px 20px;
	margin:0;
	background:none;
	border-radius:0;
	border:none;
	text-transform:uppercase;
	letter-spacing:0;
}
@media (max-width: 767px) {
	.filter-wrapper .filter li a { display:inline-block; }
}
.filter-wrapper .filter li a:active, .filter-wrapper .filter li a:hover, .filter-wrapper .filter li a:focus {
	text-decoration:none;
	box-shadow:none;
	color:#181818;
	background:#6ed5db;
	background:-moz-linear-gradient(top,#6ed5db 0%,#5acbd2 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#6ed5db),color-stop(100%,#5acbd2));
	background:-webkit-linear-gradient(top,#6ed5db 0%,#5acbd2 100%);
	background:-o-linear-gradient(top,#6ed5db 0%,#5acbd2 100%);
	background:-ms-linear-gradient(top,#6ed5db 0%,#5acbd2 100%);
	background:linear-gradient(to bottom,#6ed5db 0%,#5acbd2 100%);
	box-shadow:1px 2px 0 rgba(0,0,0,0.3);
}
.filter-wrapper .filter .active a {
	text-decoration:none;
	box-shadow:none;
	color:#fff;
	background:#6ed5db;
	background:-moz-linear-gradient(top,#6ed5db 0%,#6ed5db 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#6ed5db),color-stop(100%,#6ed5db));
	background:-webkit-linear-gradient(top,#6ed5db 0%,#6ed5db 100%);
	background:-o-linear-gradient(top,#6ed5db 0%,#6ed5db 100%);
	background:-ms-linear-gradient(top,#6ed5db 0%,#6ed5db 100%);
	background:linear-gradient(to bottom,#6ed5db 0%,#6ed5db 100%);
	box-shadow:1px 2px 0 rgba(0,0,0,0.3);
}
@media (max-width: 979px) {
	.filter-wrapper .pull-right { float:none; }
}
.portfolio-meta { border-top:1px solid #50524c; }
.portfolio-meta-list {
	border-top:1px solid #50524c;
	border-bottom:1px solid #50524c;
}
.single-pager {
	border-top:1px solid #50524c;
	border-bottom:1px solid #50524c;
}
.single-pager a { color:#d9bb4b !important; }
.single-pager a:hover {
	color:#5ecdd4 !important;
	background:none !important;
}
.filterable-portfolio li .caption h3 {
	text-shadow:none;
	margin:22px 0 13px;
	font:300 20px/1em 'Open Sans', sans-serif;
	letter-spacing:0;
}
.filterable-portfolio li .caption h3 a {
	color:#d9bb4b;
	text-decoration:none;
}
.filterable-portfolio li .caption h3 a:hover, .filterable-portfolio li .caption h3 a:active {
	color:#5ecdd4;
	text-decoration:none;
}
.filterable-portfolio li .caption .excerpt { margin-bottom:20px; }
div.type-page h2 { margin-bottom:25px; }
@media (min-width: 768px) and (max-width: 979px) {
	div.type-page h2 { font-size:20px; }
}
@media (max-width: 767px) {
	div.type-page h2 { margin-top:30px; }
}
div.type-page h2 strong { font-weight:300 !important; }
div.type-page h4 {
	font-weight:300 !important;
	margin-bottom:15px;
}
div.type-page p { margin-bottom:20px; }
div.type-page img.alignleft { margin:0 30px 5px 0; }
div.type-page .spacer { height:50px; }
@media (max-width: 767px) {
	div.type-page .spacer { display:none; }
}
.pager li > a, .pager li > span {
	border-radius:0;
	border:none;
	font:17px/1.2em 'Open Sans', sans-serif;
	color:#555;
	background:none;
}
.pager li > a:hover, .pager li > a:active, .pager li > a:focus, .pager li > span:hover, .pager li > span:active, .pager li > span:focus {
	color:#3a3a3a;
	background:#fff;
}
.pagination ul {
	border-radius:0;
	box-shadow:none;
}
.pagination ul li a {
	background:none;
	border:none;
	color:#d9bb4b;
	font:17px/1.2em 'Open Sans', sans-serif;
	border-radius:0 !important;
}
.pagination ul li a:hover, .pagination ul li a:active {
	color:#3a3a3a;
	background:#fff;
}
.pagination ul li.active a {
	background:none;
	color:#555;
	border-radius:0 !important;
}
.pagination ul li.active a:hover {
	color:#555;
	background:none;
}
.flexslider .flex-control-nav li a { background:#fff; }
.flexslider .flex-control-nav li a.flex-active, .flexslider .flex-control-nav li a:hover { background:#7f7f7f; }
@media (max-width: 480px) {
	.single-team .single-post .featured-thumbnail {
		width:auto;
		height:auto;
	}
}
.related-posts h3, .comment-holder h3, #respond h3 {
	font-size:25px;
	line-height:1.2em;
	font-weight:600;
	color:#5ecdd4;
	margin:30px 0 25px;
}
.related-posts .thumbnail a {
	display:block;
	margin:0;
	padding:0;
	width:100%;
}
.related-posts .thumbnail a img {
	padding:0;
	width:100%;
	display:block;
}
.related-posts a {
	font:300 20px/1em 'Open Sans', sans-serif;
	color:#2e3d47;
	display:inline-block;
	margin-top:15px;
	text-transform:uppercase;
}
.related-posts a:hover { text-decoration:underline; }
.comment-holder .comment-list .comment .comment-body { background:#fdfdfd; }
.comment-holder .comment-list .comment .comment-body .comment-author {
	margin:0 20px 0 0;
	text-align:left;
	background:none;
}
@media (max-width: 350px) {
	.comment-holder .comment-list .comment .comment-body .comment-author {
		float:none;
		margin-bottom:30px;
	}
}
.comment-holder .comment-list .comment .comment-body .comment-author img {
	width:58px;
	height:58px;
	padding:14px;
	background:#bdbdbd;
}
.comment-holder .comment-list .comment .comment-body .comment-author .author {
	width:auto;
	text-align:left;
	font:14px/1em Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight:normal !important;
	color:#d9bb4b;
	text-transform:none;
	margin-top:15px;
}
@media (max-width: 480px) {
	.comment-holder .comment-list .comment .comment-body .extra-wrap { overflow:visible; }
}
.comment-holder .comment-list .comment .comment-body .comment-meta {
	margin:15px 0 0 0;
	font:14px/1em Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#5c5c5c;
	text-transform:none;
}
.comment-holder .comment-list .comment .comment-body .reply a {
	background-color:#2a3942;
	background-image:-moz-linear-gradient(top,#2e3d47,#25323b);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#2e3d47),to(#25323b));
	background-image:-webkit-linear-gradient(top,#2e3d47,#25323b);
	background-image:-o-linear-gradient(top,#2e3d47,#25323b);
	background-image:linear-gradient(to bottom,#2e3d47,#25323b);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2e3d47', endColorstr='#ff25323b', GradientType=0);
}
.comment-holder .comment-list .comment .comment-body .reply a:focus, .comment-holder .comment-list .comment .comment-body .reply a:hover {
	background:#56d3c1;
	background:-moz-linear-gradient(top,#56d3c1 0%,#46c7b0 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#46c7b0),color-stop(100%,#46c7b0));
	background:-webkit-linear-gradient(top,#56d3c1 0%,#46c7b0 100%);
	background:-o-linear-gradient(top,#56d3c1 0%,#46c7b0 100%);
	background:-ms-linear-gradient(top,#56d3c1 0%,#46c7b0 100%);
	background:linear-gradient(to bottom,#56d3c1 0%,#46c7b0 100%);
	box-shadow:none;
	text-decoration:none;
	color:#fff;
}
.comment-holder .comment-list .comment .comment-body .reply a:active { background:#46c7b0; }
.comment-holder #respond #commentform { margin-top:0; }
#respond #commentform { margin-top:15px; }
#respond #commentform textarea {
	border:1px solid #50524d;
	width:100%;
	min-width:auto;
	max-width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height:300px;
	min-height:auto;
	max-height:auto;
	min-width:auto;
	padding:12px 10px 10px;
}
#respond #commentform p input {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	max-width:auto;
	min-width:auto;
	width:100%;
	padding:0 10px;
	height:35px;
	margin-bottom:2px;
}
#respond #commentform p input:focus { box-shadow:none; }
#respond #commentform p input.btn {
	margin-top:10px;
	width:auto;
	padding-left:25px;
	padding-right:25px;
	text-decoration:none !important;
	height:42px;
}
#respond #commentform .btn-align { text-align:right; }
.sidebar .widget { margin-bottom:50px; }
.sidebar .widget >h3 {
	font-weight:300;
	font-size:25px;
	line-height:1em;
	margin-bottom:15px;
}
.sidebar .social .social_li {
	height:34px;
	overflow:hidden;
	line-height:34px;
}
.sidebar .social .social_li .social_label { padding-left:10px; }
.sidebar .social .social_li .social_link {
	display:inline-block;
	opacity:1;
	text-align:center;
}
.sidebar .social .social_li .social_link .social_ico {
	display:inline-block;
	width:34px;
	height:34px;
	line-height:32px;
	background:#000000;
	border-radius:50%;
	transition:all 0.3s ease 0s;
}
.sidebar .social .social_li .social_link:hover, .sidebar .social .social_li .social_link:active { text-decoration:none; }
.sidebar .social .social_li .social_link:hover .social_ico, .sidebar .social .social_li .social_link:active .social_ico { background:#d9bb4b; }
.search-form .search-form_is {
	margin:0 0 0 10px;
	padding-top:1px;
	padding-bottom:1px;
	height:30px;
	box-shadow:none;
}
@media (min-width: 768px) and (max-width: 1200px) {
	.search-form .search-form_is {
		display:block;
		margin:0;
	}
}
@media (max-width: 400px) {
	.search-form .search-form_is {
		display:block;
		margin:0;
	}
}
[id*="categories"] ul, [id*="archives"] ul, [id*="nav_menu"] ul {
	margin:0;
	list-style-type:none;
}
[id*="categories"] ul li, [id*="archives"] ul li, [id*="nav_menu"] ul li {
	background:url(images/cat-arrow.png) no-repeat 0 9px;
	padding-left:31px;
	margin:0;
}
@media (max-width: 1200px) {
	[id*="categories"] ul li, [id*="archives"] ul li, [id*="nav_menu"] ul li {
		padding:3px 0 3px 20px;
		background-position:0 6px;
	}
}
[id*="categories"] ul li a, [id*="archives"] ul li a, [id*="nav_menu"] ul li a {
	font:14px/33px Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#787878;
	text-transform:none;
}
@media (max-width: 1200px) {
	[id*="categories"] ul li a, [id*="archives"] ul li a, [id*="nav_menu"] ul li a { line-height:1.1em; }
}
[id*="categories"] ul li a:hover, [id*="archives"] ul li a:hover, [id*="nav_menu"] ul li a:hover {
	color:#d9bb4b;
	text-decoration:none;
}
[id*="my_poststypewidget"] .post-list li { padding:15px 0; }
[id*="my_poststypewidget"] .post-list li .thumbnail { margin:0 30px 10px 0; }
@media (min-width: 768px) and (max-width: 979px) {
	[id*="my_poststypewidget"] .post-list li .thumbnail {
		float:none;
		margin:0 0 30px 0;
	}
	[id*="my_poststypewidget"] .post-list li .thumbnail img { margin:0; }
}
@media (max-width: 350px) {
	[id*="my_poststypewidget"] .post-list li .thumbnail {
		width:auto;
		display:inline-block;
		float:none;
	}
}
[id*="my_poststypewidget"] .post-list li .post-list_h {
	font:300 20px/22px 'Open Sans', sans-serif;
	text-transform:uppercase;
	letter-spacing:0;
	margin:0 0 15px;
}
[id*="my_poststypewidget"] .post-list li .post-list_h a { color:#d9bb4b; }
[id*="my_poststypewidget"] .post-list li .post-list_h a:hover {
	color:#5ecdd4;
	text-decoration:none;
}
[id*="my_poststypewidget"] .post-list li time {
	background:none;
	color:#181818;
	font-style:normal;
	padding:0;
	font-size:14px;
}
@media (max-width: 767px) {
	[id*="my_poststypewidget"] .post-list li time { display:block; }
}
[id*="my_poststypewidget"] .post-list li .excerpt { margin-bottom:20px; }
[id*="my-recent-comments"] .comments-custom .comments-custom_li { padding:20px 0; }
[id*="my-recent-comments"] .comments-custom .comments-custom_li:first-child { padding-top:10px; }
[id*="my-recent-comments"] .comments-custom .comments-custom_li .featured-thumbnail {
	margin:0 30px 0 0;
	padding:0;
	background:#d9d9d9;
	box-shadow:1px 2px 0 rgba(0,0,0,0.3);
}
[id*="my-recent-comments"] .comments-custom .comments-custom_li .featured-thumbnail img {
	padding:14px;
	margin:0;
	width:58px;
	height:58px;
	border:none;
}
[id*="my-recent-comments"] .comments-custom .comments-custom_li time {
	margin-top:20px;
	display:block;
	color:#181818;
	font-size:14px;
	line-height:18px;
	font-style:normal;
	padding-left:105px;
}
@media (min-width: 768px) and (max-width: 979px) {
	[id*="my-recent-comments"] .comments-custom .comments-custom_li time { margin-top:15px; }
}
[id*="my-recent-comments"] .comments-custom .comments-custom_li .comments-custom_h_author {
	font-size:14px;
	line-height:18px;
	text-transform:none;
	letter-spacing:0;
	font-weight:normal;
	color:#d9bb4b;
}
[id*="my-recent-comments"] .comments-custom .comments-custom_li .comments-custom_txt {
	border:none;
	padding-left:0;
}
[id*="my-recent-comments"] .comments-custom .comments-custom_li .comments-custom_txt a { color:#787878; }
[id*="my-recent-comments"] .comments-custom .comments-custom_li .comments-custom_txt a:hover {
	color:#d9bb4b;
	text-decoration:none;
}
#calendar_wrap #wp-calendar caption { color:#d9bb4b; }
#calendar_wrap #wp-calendar thead tr { background:#fff; }
.footer-widgets >div >div h4 {
	color:#FFFFFF;
	font-weight:300;
	font-size:25px;
	line-height:1em;
	margin-bottom:20px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.footer-widgets >div >div h4 { font-size:18px; }
}
@media (max-width: 767px) {
	.footer-widgets >div >div h4 { margin-top:30px; }
}
.posts-grid.work-team li .thumbnail { margin-bottom:30px; }
.posts-grid.work-team li h5 {
	font:14px/23px Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-transform:none;
	margin:0;
}
.posts-grid.work-team li h5 a { color:#5ecdd4; }
.posts-grid.work-team li h5 a:hover {
	color:#d9bb4b;
	text-decoration:none;
}
.posts-grid.work-team li p { line-height:23px; }
.page-header { border-bottom:1px solid #50524d; }
.list.custom-list ul {
	margin:0;
	list-style-type:none;
}
.list.custom-list ul li {
	background:url(images/cat-arrow.png) no-repeat 0 9px;
	padding-left:31px;
	margin:0;
}
@media (max-width: 1200px) {
	.list.custom-list ul li {
		padding:3px 0 3px 20px;
		background-position:0 6px;
	}
}
.list.custom-list ul li:before { display:none; }
.list.custom-list ul li a {
	font:14px/33px Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#787878;
	text-transform:none;
}
@media (max-width: 1200px) {
	.list.custom-list ul li a { line-height:1.1em; }
}
.list.custom-list ul li a:hover {
	color:#d9bb4b;
	text-decoration:none;
}
.posts-grid.events li { margin:0 0 50px; }
.posts-grid.events li .clear { display:none; }
@media (max-width: 480px) {
	.posts-grid.events li .clear { display:block; }
}
.posts-grid.events li .thumbnail { margin:0 30px 10px 0; }
@media (max-width: 480px) {
	.posts-grid.events li .thumbnail { margin:0 0 30px 0; }
}
.posts-grid.events li .post_meta {
	border:none;
	padding:0;
	color:#d9bb4b;
	margin-bottom:2px;
}
.posts-grid.events li .post_meta .post_category, .posts-grid.events li .post_meta .post_author, .posts-grid.events li .post_meta .post_comment { display:none; }
.posts-grid.events li .post_meta .post_date {
	font-size:14px;
	line-height:18px;
}
.posts-grid.events li h5 {
	font:300 20px/1em 'Open Sans', sans-serif;
	margin:0 0 15px;
}
.posts-grid.events li h5 a { color:#5ecdd4; }
.posts-grid.events li h5 a:hover {
	color:#d9bb4b;
	text-decoration:none;
}
.posts-grid.events li .excerpt { line-height:23px; }
.testimonial {
	background:#2a3037;
	border:1px solid #2a3037;
}
.testimonials.testi-events .testi-item {
	margin:0;
	padding-bottom:40px;
}
.testimonials.testi-events .testi-item .testi-item_blockquote {
	border-radius:0;
	background:#2a3037;
	box-shadow:1px 2px 0 rgba(0,0,0,0.3);
	padding:25px 30px 35px 50px;
}
.testimonials.testi-events .testi-item .testi-item_blockquote:after {
	background:url(images/quote.png) no-repeat;
	top:28px;
	left:22px;
}
.testimonials.testi-events .testi-item .testi-item_blockquote:before {
	border:none;
	background:url(images/quote-arrow.png) no-repeat;
	width:20px;
	height:13px;
	bottom:-12px;
	left:75px;
}
.testimonials.testi-events .testi-item .testi-item_blockquote a { color:#a1a1a1; }
.testimonials.testi-events .testi-item .testi-item_blockquote a:hover { text-decoration:underline; }
.testimonials.testi-events .testi-item .testi-meta .info, .testimonials.testi-events .testi-item .testi-meta br { display:none; }
.testimonials.testi-events .testi-item .testi-meta .user { color:#d9bb4b; }
.testimonials.testi-events .testi-item .testi-meta a {
	color:#787878;
	text-decoration:none;
}
.testimonials.testi-events .testi-item .testi-meta a:hover {
	text-decoration:none;
	color:#d9bb4b;
}
.carousel-wrap {
	background:#2a3037;
	margin-bottom:30px;
	box-shadow:1px 2px 0 rgba(0,0,0,0.3);
}
.carousel-wrap h2 {
	background-color:#f2f2f2;
	background-image:-moz-linear-gradient(top,#ffffff,#dedede);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#dedede));
	background-image:-webkit-linear-gradient(top,#ffffff,#dedede);
	background-image:-o-linear-gradient(top,#ffffff,#dedede);
	background-image:linear-gradient(to bottom,#ffffff,#dedede);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdedede', GradientType=0);
	margin:0;
	padding:22px 32px 23px;
	color:#181818;
	font-weight:300;
	box-shadow:1px 2px 0 rgba(0,0,0,0.3);
}
.carousel-wrap .es-carousel-wrapper { padding:0 49px 14px 49px; }
@media (min-width: 980px) and (max-width: 1200px) {
	.carousel-wrap .es-carousel-wrapper { padding:0 40px 14px 40px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.carousel-wrap .es-carousel-wrapper { padding:0 39px 14px; }
}
@media (max-width: 480px) {
	.carousel-wrap .es-carousel-wrapper { padding:0 40px; }
}
.carousel-wrap .es-carousel-wrapper .es-carousel .es-carousel_list .es-carousel_li .featured-thumbnail {
	border:6px solid #fff;
	transition:all 0.3s ease 0s;
}
@media (max-width: 480px) {
	.carousel-wrap .es-carousel-wrapper .es-carousel .es-carousel_list .es-carousel_li .featured-thumbnail { border:3px solid #fff; }
}
.carousel-wrap .es-carousel-wrapper .es-carousel .es-carousel_list .es-carousel_li .featured-thumbnail:hover { border-color:#d9bb4b; }
.carousel-wrap .es-carousel-wrapper .es-nav .es-nav-prev, .carousel-wrap .es-carousel-wrapper .es-nav .es-nav-next {
	width:53px;
	height:73px;
	top:35%;
	margin:-18px 0 0 0;
	opacity:1;
	background:url(images/nav.png) no-repeat;
}
.carousel-wrap .es-carousel-wrapper .es-nav .es-nav-prev:hover, .carousel-wrap .es-carousel-wrapper .es-nav .es-nav-next:hover { background-position:0 -73px; }
@media (max-width: 480px) {
	.carousel-wrap .es-carousel-wrapper .es-nav .es-nav-prev, .carousel-wrap .es-carousel-wrapper .es-nav .es-nav-next { top:0; }
}
.carousel-wrap .es-carousel-wrapper .es-nav .es-nav-prev { left:-18px; }
.carousel-wrap .es-carousel-wrapper .es-nav .es-nav-next {
	right:-19px;
	background-position:-53px 0;
}
.carousel-wrap .es-carousel-wrapper .es-nav .es-nav-next:hover { background-position:-53px -73px; }
.carousel-wrap.featured-products .es-carousel-wrapper .es-carousel .es-carousel_list .es-carousel_li .desc { display:none; }
.banner-wrap {
	background:#7ed7dd;
	background-color:#71cad0;
	background-image:-moz-linear-gradient(top,#7ed7dd,#5db6bc);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#7ed7dd),to(#5db6bc));
	background-image:-webkit-linear-gradient(top,#7ed7dd,#5db6bc);
	background-image:-o-linear-gradient(top,#7ed7dd,#5db6bc);
	background-image:linear-gradient(to bottom,#7ed7dd,#5db6bc);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7ed7dd', endColorstr='#ff5db6bc', GradientType=0);
	margin-bottom:55px;
}
.banner-wrap.color_2 {
	background:#7eddc1;
	background-color:#71d0b4;
	background-image:-moz-linear-gradient(top,#7eddc1,#5ebca0);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#7eddc1),to(#5ebca0));
	background-image:-webkit-linear-gradient(top,#7eddc1,#5ebca0);
	background-image:-o-linear-gradient(top,#7eddc1,#5ebca0);
	background-image:linear-gradient(to bottom,#7eddc1,#5ebca0);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7eddc1', endColorstr='#ff5ebca0', GradientType=0);
}
.banner-wrap.color_2 h5 {
	background:#7eddc1;
	background-color:#71d0b4;
	background-image:-moz-linear-gradient(top,#7eddc1,#5ebca0);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#7eddc1),to(#5ebca0));
	background-image:-webkit-linear-gradient(top,#7eddc1,#5ebca0);
	background-image:-o-linear-gradient(top,#7eddc1,#5ebca0);
	background-image:linear-gradient(to bottom,#7eddc1,#5ebca0);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7eddc1', endColorstr='#ff5ebca0', GradientType=0);
}
.banner-wrap.color_2 .link-align .btn { color:#5ed4b1; }
.banner-wrap.color_3 {
	background:#e1c96f;
	background-color:#d4bc62;
	background-image:-moz-linear-gradient(top,#e1c96f,#c0a84e);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#e1c96f),to(#c0a84e));
	background-image:-webkit-linear-gradient(top,#e1c96f,#c0a84e);
	background-image:-o-linear-gradient(top,#e1c96f,#c0a84e);
	background-image:linear-gradient(to bottom,#e1c96f,#c0a84e);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe1c96f', endColorstr='#ffc0a84e', GradientType=0);
}
.banner-wrap.color_3 h5 {
	background:#e1c96f;
	background-color:#d4bc62;
	background-image:-moz-linear-gradient(top,#e1c96f,#c0a84e);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#e1c96f),to(#c0a84e));
	background-image:-webkit-linear-gradient(top,#e1c96f,#c0a84e);
	background-image:-o-linear-gradient(top,#e1c96f,#c0a84e);
	background-image:linear-gradient(to bottom,#e1c96f,#c0a84e);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe1c96f', endColorstr='#ffc0a84e', GradientType=0);
}
.banner-wrap.color_3 .link-align .btn { color:#d9bb4b; }
.banner-wrap.color_4 {
	background:#d685a2;
	background-color:#c97895;
	background-image:-moz-linear-gradient(top,#d685a2,#b56481);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#d685a2),to(#b56481));
	background-image:-webkit-linear-gradient(top,#d685a2,#b56481);
	background-image:-o-linear-gradient(top,#d685a2,#b56481);
	background-image:linear-gradient(to bottom,#d685a2,#b56481);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd685a2', endColorstr='#ffb56481', GradientType=0);
}
.banner-wrap.color_4 h5 {
	background:#d685a2;
	background-color:#c97895;
	background-image:-moz-linear-gradient(top,#d685a2,#b56481);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#d685a2),to(#b56481));
	background-image:-webkit-linear-gradient(top,#d685a2,#b56481);
	background-image:-o-linear-gradient(top,#d685a2,#b56481);
	background-image:linear-gradient(to bottom,#d685a2,#b56481);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd685a2', endColorstr='#ffb56481', GradientType=0);
}
.banner-wrap.color_4 .link-align .btn { color:#cc668b; }
.banner-wrap h5 {
	background:#7ed7dd;
	background-color:#71cad0;
	background-image:-moz-linear-gradient(top,#7ed7dd,#5db6bc);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#7ed7dd),to(#5db6bc));
	background-image:-webkit-linear-gradient(top,#7ed7dd,#5db6bc);
	background-image:-o-linear-gradient(top,#7ed7dd,#5db6bc);
	background-image:linear-gradient(to bottom,#7ed7dd,#5db6bc);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7ed7dd', endColorstr='#ff5db6bc', GradientType=0);
	margin:0;
	padding:18px 32px;
	color:#FFF;
	font-weight:600;
	font-size:25px;
	line-height:1em;
	box-shadow:1px 2px 0 rgba(0,0,0,0.3);
	text-transform:uppercase;
}
@media (min-width: 768px) and (max-width: 1200px) {
	.banner-wrap h5 {
		padding:18px 20px;
		font-size:16px;
	}
}
.banner-wrap h5:first-line {
	font-weight:300;
	color:#FFF;
}
.banner-wrap .featured-thumbnail { margin-bottom:24px; }
@media (max-width: 767px) {
	.banner-wrap .featured-thumbnail {
		text-align:center;
		margin:20px 0;
	}
	.banner-wrap .featured-thumbnail a {
		display:inline-block;
		float:none;
	}
}
@media (max-width: 350px) {
	.banner-wrap .featured-thumbnail { margin:0 0 20px 0; }
	.banner-wrap .featured-thumbnail img { width:100%; }
}
.banner-wrap .featured-thumbnail a { border:none; }
.banner-wrap p {
	padding:0 31px;
	color:#ffffff;
	margin-bottom:24px !important;
}
@media (min-width: 768px) and (max-width: 979px) {
	.banner-wrap p { padding:0 20px; }
}
.banner-wrap .link-align { margin:0 32px 30px 32px; }
@media (min-width: 768px) and (max-width: 979px) {
	.banner-wrap .link-align { margin:0 20px 20px 20px; }
}
.banner-wrap .link-align .btn {
	background:#ffffff;
	box-shadow:none;
	padding:10px 24px;
	color:#5ecdd4;
}
.banner-wrap .link-align .btn:focus, .banner-wrap .link-align .btn:hover {
	background:#30373f;
	background:-moz-linear-gradient(top,#30373f 0%,#272d33 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#30373f),color-stop(100%,#272d33));
	background:-webkit-linear-gradient(top,#30373f 0%,#272d33 100%);
	background:-o-linear-gradient(top,#30373f 0%,#272d33 100%);
	background:-ms-linear-gradient(top,#30373f 0%,#272d33 100%);
	background:linear-gradient(to bottom,#30373f 0%,#272d33 100%);
	box-shadow:none;
	text-decoration:none;
	color:#FFFFFF;
}
.banner-wrap .link-align .btn:active { background:#272d33; }
.title-box .title-box_primary {
	font-size:45px;
	line-height:42px;
	margin:8px 0 0;
	color:#5ecdd4;
	font-weight:600;
}
.title-box .title-box_secondary {
	font-size:25px;
	line-height:28px;
	margin:1px 0 25px 5px;
	color:#181818;
	font-weight:300;
}
.footer {
	background:#292f36;
	border:none;
	padding:87px 0 40px;
}
.footer-text {
	padding-top:16px;
	font:300 14px/1em 'Open Sans', sans-serif;
	color:#d9bb4b;
	text-transform:uppercase;
	float:none;
}
.footer-text a { color:#d9bb4b; }
.footer-text a:hover {
	color:#5ecdd4;
	text-decoration:none;
}
.footer-text .site-name { margin-right:5px; }
@media (min-width: 768px) and (max-width: 979px) {
	.footer-text span {
		display:block;
		margin-top:5px;
	}
}
@media (max-width: 480px) {
	.footer-text span {
		display:block;
		margin-top:10px;
	}
}
nav.footer-nav {
	margin:20px 0 0 0;
	float:none;
}
nav.footer-nav .menu { float:none; }
nav.footer-nav .menu li { padding:0 10px 0 0; }
nav.footer-nav .menu li a:hover, nav.footer-nav .menu li a:active {
	color:#5ecdd4;
	text-decoration:none;
}
nav.footer-nav .menu li.current-menu-item a {
	color:#5ecdd4;
	text-decoration:none;
}
.zoom-icon { background:none !important; }
.ie8 .zoom-icon { background:url(images/zoom-bg.png) !important; }
.zoom-icon:after {
	content:'';
	width:100%;
	height:100%;
	background:url(images/zoom-bg.png);
	position:absolute;
	top:0;
	right:0;
	border-radius:0;
	z-index:10;
	transition:400ms all 100ms;
	-webkit-transition:400ms all 100ms;
	-o-transition:400ms all 100ms;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
}
.ie8 .zoom-icon:after { display:none; }
.zoom-icon:before {
	content:'';
	background:url(images/zoom.png);
	width:56px;
	height:57px;
	margin:-26px 0 0 -26px;
	z-index:100;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
	transition:all 0.3s ease 0s;
}
.thumbnail a img { transition:all 0.3s ease 0s; }
.thumbnail:hover .zoom-icon:before {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.thumbnail:hover .zoom-icon:after {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.thumbnail:hover a img {
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
}
.ajax-loader {
	background-image:url(images/loading.gif);
	width:24px;
	display:inline-block;
	padding:24px 0 0 0;
	height:0px !important;
}
.google-map, .flexslider { background:url(images/loading-t.gif) 50% 50% no-repeat; }
#back-top span { background-color:#5ecdd4; }
.error404-holder { padding:80px 0; }
.error404-holder .error404-holder_num { color:#d9bb4b; }
@media (max-width: 767px) {
	.archive_h { margin-top:30px; }
}
blockquote p { line-height:22px; }
.faq-list .marker { color:#181818; }
.faq-list .faq-list_h { color:#d9bb4b; }
.ie9 .wpcf7-form p.field input {
	padding-top:8px;
	padding-bottom:5px;
}
.ie9 textarea, .ie9 input[type="text"], .ie9 input[type="password"], .ie9 input[type="datetime"], .ie9 input[type="datetime-local"], .ie9 input[type="date"], .ie9 input[type="month"], .ie9 input[type="time"], .ie9 input[type="week"], .ie9 input[type="number"], .ie9 input[type="email"], .ie9 input[type="url"], .ie9 input[type="search"], .ie9 input[type="tel"], .ie9 input[type="color"], .ie9 .uneditable-input { padding-top:8px; }
.ie9 .search-form__h #search-header .search-form_it { padding-top:10px; }
.ie8 .wpcf7-form p.field input {
	padding-top:8px;
	padding-bottom:5px;
}
.ie8 textarea, .ie8 input[type="text"], .ie8 input[type="password"], .ie8 input[type="datetime"], .ie8 input[type="datetime-local"], .ie8 input[type="date"], .ie8 input[type="month"], .ie8 input[type="time"], .ie8 input[type="week"], .ie8 input[type="number"], .ie8 input[type="email"], .ie8 input[type="url"], .ie8 input[type="search"], .ie8 input[type="tel"], .ie8 input[type="color"], .ie8 .uneditable-input { padding-top:8px; }
.ie8 .search-form__h #search-header .search-form_it { padding-top:10px; }
.ie8 #respond #commentform p input { padding-top:8px; }
.ie8 #respond #commentform p input.btn { padding:11px 24px; }
.ie8 #respond #commentform .btn-align { text-align:right; }
.ie8 h1, .ie8 h2, .ie8 h3, .ie8 h4, .ie8 h5, .ie8 h6 { line-height:1.2em; }
.ie8 .wpcf7-form .wpcf7-not-valid-tip { font-size:8px !important; }
.ie8 .nav__primary .sf-menu >li { width:120px; }
.ie8 .nav__primary .sf-menu >li.home { width:67px; }
.ie8 .nav__primary .sf-menu >li >.sub-menu { width:150px; }
.ie8 .banner-wrap h5 {
	padding:18px 20px;
	font-size:16px;
}
.ie8 .search-form__h {
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.ie8 .search-form__h #search-header .search-form_it { width:100%; }
.ie8 .camera_prev, .ie8 .camera_next { bottom:50px; }
.ie8 .camera_caption { top:80px; }
.ie8 .camera_thumbs_cont { display:none !important; }
.ie8 .search-form .search-form_is {
	display:block;
	margin:0;
}
.ie8 [id*="categories"] ul li, .ie8 [id*="archives"] ul li, .ie8 [id*="nav_menu"] ul li, .ie8 .list.custom-list ul li {
	padding:3px 0 3px 20px;
	background-position:0 6px;
}
.ie8 [id*="categories"] ul li a, .ie8 [id*="archives"] ul li a, .ie8 [id*="nav_menu"] ul li a, .ie8 .list.custom-list ul li a { line-height:1.1em; }
.ie8 .carousel-wrap .es-carousel-wrapper { padding:0 40px 14px 40px; }
.ie8 .posts-grid.work-team li .thumbnail { width:100%; }
.ie8 .posts-grid.events li .thumbnail { width:270px; }
.ie8 .comment-author {
	width:80px !important;
	height:auto !important;
	margin-right:30px;
}
.ie8 .comment-author img {
	width:58px !important;
	height:58px !important;
}
.ie8 .post-author_gravatar { width:58px !important; }
.ie8 .comments-custom_li .thumbnail { width:88px !important; }
.ie8 .comments-custom_li .avatar { width:58px !important; }
.transition { transition:all 0.3s ease 0s; }
.box-shadow { box-shadow:1px 2px 0 rgba(0,0,0,0.3); }
.left-right { position:relative; }
.left-right >div {
	position:relative;
	z-index:10;
}
.left-right:before, .left-right:after {
	content:"";
	display:block;
	height:100%;
	position:absolute;
	top:0;
	width:101%;
	background:inherit;
	border:inherit;
	z-index:1;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.left-right:before { left:-100%; }
.left-right:after { right:-100%; }
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level {
	display:block;
	width:100%;
	min-height:33px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
