/*
Theme Name: ParadiseHotel
Theme URI: http://www.smooththemes.com
Version: 1.3
Description: A Wordpress Hotel theme by SmoothThemes.
Author: SmoothThemes.
Author URI: http://www.smooththemes.com
Tags: full-width-template, custom-colors, right-sidebar, left-sidebar, custom-menu, featured-images, two-columns, translation-ready
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl.html
*/

.admin-bar  #header{ top: 28px;}

img{ max-width: 100%; height: auto; }
img { -ms-interpolation-mode: bicubic; }
object, embed { max-width: 100%; }
.map_canvas img{ width: inherit; max-width: inherit;}

/*Clearfix ---------------------------*/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix {}
body{ position: relative;}



/*Wordpress Style 
	----------------------------------------------------------------------------------------*/
	.alignleft, img.alignleft { float:left; margin: 5px 20px 20px 0px; }
	.alignright, img.alignright { float:right; margin: 5px 0px 20px 20px; }
	.aligncenter, img.aligncenter { display:block; margin: 5px auto; }
	.alignnone, img.alignnone { margin: 5px 20px 20px 0; }
	.wp-caption { text-align: center; padding:0;}
	.wp-caption img { border: 0 none; padding: 0; margin: 0; max-width: 98.5%; width: auto;display: block;}
	.wp-caption p.wp-caption-text { line-height: 1.5; font-size: 10px; margin: 0;padding-top:5px;}
	.wp-smiley { margin: 0 !important; max-height: 1em; }
	.gallery dl {}
	.gallery dt {}
	.gallery dd {}
	.gallery dl a {}
	.gallery dl img {}
	.gallery-caption {}
	.size-full {}
	.size-large {}
	.size-medium {}
	.size-thumbnail {}
	.sticky{padding:25px;background: #f0f0f0;}
	.bypostauthor{}
    
	/*Custom Css 
	----------------------------------------------------------------------------------------*/
	.left        { float: left; }
	.right       { float: right; }
	.text-left   { text-align: left; }
	.text-right  { text-align: right; }
	.text-center { text-align: center; }
	.text-bold	 { font-weight:bold;}
	.hide        { display: none  !important; }
	.clear,br.clear{clear: both;height:0;}
    .t0{margin-top:0px !important;}.t10{margin-top:10px !important;}.t15{margin-top:15px !important;}.t20{margin-top:20px !important;}
    .t30{margin-top:30px !important;}.t35{margin-top:35px !important;}.t40{margin-top:40px !important;}
    .b0{margin-bottom:0px !important;}.b10{margin-bottom:10px !important;}.b20{margin-bottom:20px !important;}
    .b30{margin-bottom:30px !important;}.b35{margin-bottom:35px !important;}.b40{margin-bottom:40px !important;}
    .p0{padding: 0px !important;}
    .p-r{ position: relative;}
    .m0{ margin: 0px !important;}
    .p10{padding-top: 10px !important; padding-bottom: 10px !important;}
    
    .no-col-margin .row .column, .no-col-margin .row .columns{ margin-bottom: 0px;}
    

    /* Page builder items
    -------------------------------------------------------------------------------------------*/
    /*Room gird home page */
   .builder-item-title{ margin-bottom: 20px;}
    .st-home-tpl .r-index-1.stpb-rooms{ margin-bottom:40px; background: #f7f7f7 url(assets/img/big_shadow.png) center 1px no-repeat; border-bottom:1px solid #e6e6e6; border-top:1px solid #e6e6e6;}
    .st-home-tpl .r-index-1.stpb-rooms .column, .st-home-tpl .r-index-1.stpb-rooms .columns{ margin-bottom:0px;}
    /* Room list */
    .builder-rooms-list .room-item .r-border hr{  margin : 20px 0px 20px; }
    .builder-rooms-list .room-item.last-item .r-border{ margin-bottom: 0px; }
    .stpb-rooms-list .rbiw > .columns{ margin-bottom:0px; }
    
    /* Pagination */
   .st-pagination{ margin: 0px; padding: 0px; }
   .st-pagination li{list-style: none; display: inline;}
   .st-pagination a,.st-pagination a:visited,  .st-pagination .current{background: none repeat scroll 0 0 #3B576B; color: #FFFFFF;  text-decoration: none; display: inline-block;  padding: 5px 10px; text-decoration: none;  margin: 0px 5px; }
   .st-pagination a:hover, .st-pagination a.page-current , .st-pagination .current{background:#111; text-decoration: none; } 
   
  
  /* Search Form */
  .searchform .searchsubmit{ float: left; margin-bottom: 0px; }
  .searchform .s{ width: 190px; float: left; margin-bottom: 0px; margin-right: 5px; margin-top: 1px;}
  
  
  /*  For Sidebar
   ======================================== */
  .sidebar ul,.sidebar ol{ margin-bottom: 0px; }
  .sidebar ul ul,
  .sidebar ul ol,
  .sidebar ol ol,
  .sidebar ul ol{ margin-left:  10px; margin-top: 8px;}
  .widget-container{ margin-bottom: 30px;}
  
  /* Widget title */
  .widget-container .widgettitle{font-size: 18px; line-height: 18px;  border-bottom: 1px solid #EDEDED; margin-bottom: 13px;  padding-bottom: 10px; }
  
  /* Recent  posts */
  .st-recent-posts li img,
  .widget_strecentcomments li img{ float: left; max-width: 50px; max-height: 50px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
  .st-recent-posts li  a,
  .st-recent-posts li  span{ display: block; margin-left: 60px;}
 
  /** Recent comments */
  .widget_strecentcomments li .widget-post-content{  margin-left: 60px; }
  
  /* Widget calendar */
  .widget_calendar caption{ display:none; }
  .widget_calendar tfoot  td{ background: #FFFFFF; }
  
  /* for other widget use list style */
 .widget_pages li,
 .widget_meta li,
 .widget_recent_comments li,
 .widget_recent_entries li,
 .widget_categories li,
 .widget_archive li,
 .widget_nav_menu li,
 .product-categories li{background: url("assets/img/arrow_2.png") no-repeat scroll 3px 5px transparent; line-height: 18px; padding-left: 20px;}
  
  
  /* Alert
	----------------------------------------------------------------------------------------*/
	.alert {position: relative;padding: 10px 35px 10px 14px;margin: 20px 0;background-color: #faf2cb;color: #c09853;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
	.alert .close {position: absolute;top: 45%;right: 0;margin-top: -20px;}
	.alert-success {background-color: #c3e4b8;color: #468847;}
	.alert-danger,.alert-error {background-color: #e7c1c0;color: #b94a48;}
	.alert-info {background-color: #b9dbee;color: #3a87ad;}
	.alert-block {padding-top: 14px;padding-bottom: 14px;}
	.alert-block > p,.alert-block > ul {margin-bottom: 0;}
	.close {float: right;font-size: 14px;font-weight: bold;line-height: 20px;color: #000000;opacity: .2;}
	.close:hover {color: #000000;text-decoration: none;cursor: pointer;opacity: .4;filter: alpha(opacity=40); border: none; background: none;}
	button.close {padding: 10px;cursor: pointer;background: transparent;border: 0;}

	/* Tabs */
	.st-tabs .tab-title{overflow: hidden;}
	.st-tabs .tab-title li{display: inline-block;cursor: pointer;background: #F8F8F8;padding:9px 24px;float:left;border-color: #E0E0E0 -moz-use-text-color #E0E0E0 #E0E0E0;
    border-image: none;
    margin-bottom:0px;
    border-style: solid none solid solid;
    border-width: 1px medium 0px 1px;}
    .st-tabs .tab-title li:last-child{border-right:1px solid #e0e0e0;}
	.st-tabs .tab-title li.current{color:#BCA474;background: #fff;}
	.tab-content-wrapper .tab-content{display: none;}
	.tab-content-wrapper .tab-content.active{display: block;}
	.tab-content{padding:18px 18px 1px 18px;border:1px solid #e0e0e0;}
	 .st-tabs .tab-title{margin-bottom:0px; margin-left: 0px;}
    

	/* Accordion */
    ul.st-accordion{ margin-left: 0px;}
	ul.st-accordion li{margin-bottom:20px; list-style: none;}
	.acc-title{cursor: pointer;font-size: 15px;padding:10px 13px 10px 18px;background: #cccccc;color:white;margin-bottom:0px;position: relative;}
	.acc-title .icon-chevron-down{position: absolute;right:13px;top:10px;font-size: 12px;top:14px;}
	.acc-title.acc-title-active .icon-chevron-down{
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	   	-ms-transform: rotate(180deg);
	   	 -o-transform: rotate(180deg);
	   	 	transform: rotate(180deg);
   	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	     -o-transition: all .2s linear;
	     	transition: all .2s linear;}
	.acc-content{display: none;padding:20px 20px 0px 20px;color:#999999;}

	/* Toggle */
    ul.st-toggle{ margin-left: 0px;}
	ul.st-toggle li{margin-bottom:20px; list-style: none;}
	.toggle-content{display: none;}
	.toggle-title{cursor: pointer;font-size: 15px;padding:10px 13px;background: #cccccc;color:white;margin-bottom:0px;position: relative;}
	.toggle-content{display: none;padding:20px 20px 0px 20px;color:#999999;}
	.st-toggle .icon-plus,.st-toggle .icon-minus{position: absolute;font-size: 12px;top:14px;right:13px;opacity: 0;}
	.st-toggle .icon-plus{opacity: 1;}
	.st-toggle .toggle_current .icon-plus{opacity: 0;}
	.st-toggle .toggle_current .icon-minus{opacity: 1;}

	/* Twitter Widget */
	.twitter-update ul li{padding:0px 0px 13px 0px;font-size: 13px;}
	.twitter-update ul li:last-child{padding-bottom:0px;}
	
	/*Sidebar Ads 125 ----------------------*/
	.ads125 ul{margin-bottom:0px;}
	.ads125 ul li{float:left;margin:0px 19px 20px 10px; list-style: none !important; float:  left;}
	.ads125 ul li:nth-child(2n){margin-right:0px;margin-left:0px;}
	.widget-flickr .flickr_badge_image{ float: left; margin: 8px;}
	
	   /*Event clendar
    ----------------------------------------------------------------------------------------*/
    .evcalendar{margin:0 auto;padding:0;width:100%}
    .evcalendar div.box{position:relative;top:0;left:0;width:100%; height: 40px; margin-bottom:0px;}
    .evcalendar div.header{line-height:40px;vertical-align:middle;position:absolute;top:0;width:100%;text-align:center;margin-bottom:10px;padding-bottom:0px;}
    .evcalendar .box-header{ margin-bottom: 20px;}
    .evcalendar .box-header .title { text-transform: uppercase;}
    .evcalendar div.header a.prev,
    .evcalendar div.header a.next{position:absolute;top:0; display:block;cursor:pointer;text-decoration:none;padding:5px 10px; margin-bottom:0px; margin-top: 7px; }
    .evcalendar div.header span.title{font-size:20px}
    .evcalendar div.header a.prev{left:0}
    .evcalendar div.header a.next{right:0}
    .evcalendar ul.label{float:left;margin:0;padding:0;width:100%}
    .evcalendar ul.label li{margin:0;padding:0;float:left;list-style-type:none;width:14%;  height:40px;line-height:40px;vertical-align:middle;text-align:center;font-size:15px;background-color:transparent}
    .evcalendar ul.dates{ text-align: center; margin:0;padding:0;width:100%}
  
    .evcalendar ul.dates li{ margin:0px; padding:0;vertical-align:middle; display: inline-block; list-style-type:none;width:14%; color:#000;}

 	.evcalendar ul.dates li .in-d{
 		border: 1px solid #ccc;
 		height:115px;
 		display: block;
 		margin: 1px;
 	}
   
    .evcalendar .day-num{font-size:16px;font-weight:bold;color:#666;margin:5px}
    
    .st-events-calendar .event{margin:2px 5px}
    .st-events-calendar{position:relative;z-index:5}
    .st-events-calendar .loading{position:absolute;top:0;left:0;display:block;width:100%;height:100%;z-index:9;margin:0;background:none repeat scroll 0 0 rgba(255,255,255,0.2)}
    .st-events-calendar .loading-icon{height:60%;width:100%;display:block;background:url(assets/img/loading.gif) center center no-repeat}

	 /* Back top top btn */  
    #sttotop {  width:35px;  height:  35px; z-index: 30;   display: none;  text-align:center;  padding:5px; position:fixed;   bottom:10px;    right:10px;cursor:pointer;border-radius: 2px; }
    .bg_color{  background: #333333;}
    #sttotop i{ color: #fff; font-size: 24px; line-height: 33px;}
    .row-wrapper > p, .row-wrapper .row > p{ margin:0px; }
    .wpcf7-form .wpcf7-text, .wpcf7-form .wpcf7-textarea{ width: 100%;}


    .twitter-update .tweet-item{ margin-bottom: 10px;}
	
	/* Fix slider full width (superside) */
    html.supersized-appened,
    html.supersized-appened body {
        display: block;
        height: 100%;
        overflow: hidden;
    }
    .st-full-screen .fullwidth, .full-screen-slider, .full-screen-slider-inner {
        width: 100%;
        height: 100%;
        display: block;
    }
    html.supersized-appened #supersized img {max-width: none}
