/*------------------------------------------------*/
/*--[ SmoothThemes Panel Version 1.0.0]----------*/
/*------------------------------------------------*/

.STpanel-wrap .clear{ clear: both;}
.STpanel-wrap{width : 900px;margin-top: 30px;padding:0px;position: relative;background: #fff;box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
    border-color: -moz-use-text-color #DDDDDD #DDDDDD;
    border-image: none;
    border-right: 1px solid #DDDDDD;
    border-style: none solid solid;
    border-width: 0 1px 1px;}

/* Header */

.STpanel-header-left{width:200px;float:left;height:100px;background: #bb3c12;}
.STpanel-header-right{width: 700px;float:left;height:100px;background: #D54E21;position: relative;}
.theme_version_left{position: absolute;left:30px;bottom:20px;color:#fff;}
.theme_version_left span{font-size: 18px;font-weight: 600;}
.out_resourse_right{position: absolute;right:30px;bottom:20px;}
.out_resourse_right ul{margin:0px;}
.out_resourse_right ul li{display: inline-block;margin-bottom:0px;}
.out_resourse_right ul li a{color:#f0f0f0;text-decoration: none;margin-left:20px;}
.out_resourse_right ul li a:hover{color:#fff;}


.STpanel-header .STpanel-h-info{height:100px;}
#st_logo{width:50%;float:left;margin-top:20px;}
#st_version{width:50%;float:right;text-align: right;}
p.theme_version{margin-bottom:0px;font-weight: bold;text-shadow:1px 1px 0 #FFFFFF;}
p.framework_version{margin-top:4px;text-shadow:1px 1px 0 #FFFFFF;}
.STpanel-h-action{border-top: 1px solid #fff;padding:  7px 10px;position: relative;}
.STpanel-h-action a{text-decoration: none;font-size:11px;color:#666666;
    text-transform: uppercase;margin-right:15px;text-transform: uppercase;}
.STpanel-h-action .button-secondary{position: absolute;right:13px;top:4px;}
.STpanel-main{min-height: 100%;background: none repeat scroll 0 0 #222222;}

/*--------------- [ Left Tabs ] ------------------*/

.STpanel-tabs{width : 200px;float: left;margin:0px;position: relative;min-height: 520px;background: #222222}
.STpanel-tab{display: none;margin:0px;}
.STpanel-click-tabs{margin:0px;}
.STpanel-click-tabs li{
    margin: 0px;
    width: 100%;
}
.STpanel-click-tabs a{
    display: block;
    padding:9px;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    color:#fff;
    font-weight: 400;
    font-size: 13px;
}
.STpanel-click-tabs li ul{
}
.STpanel-click-tabs li ul li a{
    border: none;
    font-size: 12px;
    padding:6px;
}
.STpanel-click-tabs li ul li a:hover{
    color:#2ea2cc;
}

.STpanel-click-tabs li.parent .menu-arrow  div {

}


.STpanel-click-tabs li.parent .menu-arrow {
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid #333333;
    border-top: 8px solid rgba(0, 0, 0, 0);
    display: none;
    height: 0;
    position: absolute;
    right: 0;
    top: 9px;
    width: 0;
    z-index: 999;

}

.STpanel-click-tabs li.parent.parent_active .menu-arrow  div {
    width: 100%;
    height: 100%;
    display: block;

}
.STpanel-click-tabs li.parent.parent_active .menu-arrow{
    display: block;
    z-index: 990;
    border-right-color: #ffffff;
}

.STpanel-click-tabs li.parent{
    position: relative;
}

.STpanel-click-tabs li.parent-f-hover .div-child{
    display: block;
    top: 0px;
    left: 190px;
    z-index: 996;
    position: absolute;
    width: 200px;
}

.STpanel-click-tabs li.parent-f-hover {
    background: #111111 ;
}
.STpanel-click-tabs li.parent-f-hover > a {
    color: #2EA2CC ;
}
.STpanel-click-tabs li.parent-f-hover .menu-arrow {
    display: block;
}

.STpanel-click-tabs li.parent-f-hover .div-child  ul{
    margin-left: 10px;
    display: block;
    border: 0px none;
    background: #333333;
    position: relative;
}


/* Icon Style */
.STpanel-click-tabs a i{color:#aaaaaa;}
.STpanel-click-tabs  a i{  margin-right: 2px; }
.STpanel-click-tabs .parent_active a i{color:#fff;}
.STpanel-click-tabs .parent_active .child a i{color:#aaaaaa; }
.STpanel-click-tabs .parent_active .child a.active i{color: #D54e21;}
.STpanel-click-tabs  li ul li a{ padding-left: 15px;}
.STpanel-click-tabs  li ul li a i{ display: none;}


.STpanel-click-tabs a:hover,.STpanel-click-tabs a:hover i{color:#2EA2CC}
.STpanel-click-tabs a:hover{background: #111111;}

.STpanel-click-tabs{}
.STpanel-click-tabs  .active{
    color: #ffffff;
}

.STpanel-click-tabs li ul{
    display: none;
}
.parent .child li a{font-weight: normal;}
.parent .child li a.active,.parent .child li a.active i{font-weight: bold;}

.STpanel-click-tabs li.parent_active ul{
    display: block;
    background: #333333;
}
.STpanel-click-tabs li.parent_active ul li a{color:#bbbbbb;}
.STpanel-click-tabs li.parent_active ul li a.active{color:#fff;}
.STpanel-click-tabs  .parent_active > a{
    color: #fff;
    border-top:none;
    background: #0074A2;
    position: relative;
}
.STpanel-click-tabs  li.parent_active > a:after {
    border-right-color: #F1F1F1;
}
.STpanel-click-tabs  li.parent_active > a:after {
    border: 8px solid rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
}



.STpanel-click-tabs  .child{
    padding: 8px 0;
}
.STpanel-click-tabs  .child a:hover{background: none;color:#2EA2CC;}

/* li parent hover */



#save_sidebar{margin:20px 0px;padding-left:25px;}

/*--------------- [ Content ] ------------------*/

.STpanel-content{
    background: #fff;
    min-height: 350px;
    float: left;
    width: 700px;

}
#STpanel-footer{
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: right;
}


.STpanel-input-box{
    background: #fff;
    border-bottom: 1px solid #e3e3e3;
}
.wrap .STpanel-box-title{
    color:#464646;font-weight: bold;margin:0px;padding:16px 20px 12px 20px !important;font-size: 13px;
    text-transform: uppercase;
    background: #fff;
}
.box-inner{padding:0px 20px 15px;}

.wrap .ST-heading h2.STpanel-box-title{
    padding-bottom: 0px !important; font-size: 16px;
}

.bp-input-upload{
    width: 70%;
}

.STpanel-box-desc-bottom{
    padding-top: 10px;
}
.STpanel-box-inner-width-descs{
    width: 50%;
    float: left;
}
.STpanel-box-desc{
    width: 50%;
    float: right;
    font-size:11px;
}
.STpanel-box-desc,.STpanel-box-desc-bottom,.STpanel-box-inner-width-descs{
    font-size:11px;
    color:#999999;
}

/*--------------- [ Input ] ------------------*/
.bp-input-text,.bp-textarea{width: 95%;}
.bp-textarea{height:130px;}
.colorSelector-input{-webkit-border-radius: 3px 3px 3px 3px;-moz-border-radius: 3px 3px 3px 3px;border-radius: 3px 3px 3px 3px;}
.colorSelector{margin-top:3px;}
.STpanel-input-box label{font-size: 13px;padding-bottom:10px;}
.STpanel-input-box label input{margin-right:10px;}
.STpanel-input-box input[type="text"],.font-color,.colorSelector-input,.STpanel-input-box textarea,.STpanel-input-box select{
    border: 1px solid;
    border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC !important;
    padding: 3px 5px;
    font-family: sans-serif;
    font-size: 13px;
    color:#555;
}
.STpanel-input-box input[type="text"]{
    padding:4px 5px;
    width: 300px;
    color:#888888;
}

.box-upload input{float:left}
.box-upload .bp-input-upload{width:60%;margin-right:10px;}
.box-upload .STpanel-image-preview{padding:8px 0;}

.box-style .colorSelector{margin-top:-4px}

.STpanel-input-box select{height:32px;}
.STpanel-input-box input:hover,.STpanel-input-box textarea:hover,.STpanel-input-box select:hover{color:#333 !important; background: #fff !important;}
.STpanel-box-color input{padding:5px;}
.STpanel-layout-div-item{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B7B7B7;
    float: left;
    line-height: 0;
    margin: 0 15px 0 0;
}

.layout-label input{
    opacity:0;
    filter:alpha(opacity=0); /* For IE8 and earlier */
    display: none;
}

.layout-label{
    line-height: 0;
}
.layout-label img{
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 1px;
    padding: 7px;

}
.layout-label-checked img{
    background: none repeat scroll 0 0 #DADADA;
    margin: 1px;
    padding: 7px;
}

.colorSelector-wrap .colorSelector{
    float: left;
}
.colorSelector-wrap label{
    width: 100px;
    display: block;
    float: left;
    padding-top: 5px;
}
.colorSelector-wrap  input{
}

.STpanel-image-preview img{
    max-width: 400px;

}

.STpanel-box-style p{
    margin:5px 0px;
}
.box-style input{padding:5px;-webkit-border-radius: 3px 3px 3px 3px;-moz-border-radius: 3px 3px 3px 3px;border-radius: 3px 3px 3px 3px;}
.box-style select{height:28px;padding:5px;}

.style-inline { padding-top: 10px;}
.style-inline  .colorSelector-txt {}
.style-inline  .colorSelector-txt  label{ float: left;}
.style-inline  .colorSelector-txt .colorSelector { float: left;}
.fonts{

}

.previewtxt{
    clear: both;
}

/* Footer */
#STpanel-footer a{float:left;}

/* for Gallery page */
.st-gallery ul.images{ margin:0px;}
.st-gallery ul.images li{
    float: left;

    width: 135px;
    height: 135px;
    display: block;
    margin: 10px;
}

.st-gallery ul.images li img{
    max-width: 125px;
    max-height: 125px;
}
.st-gallery ul.images li .imw{
    position: relative;
    width: 125px;
    height: 125px;
    display: block;
    padding: 3px;
    vertical-align: middle;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}
.imw .st_img_tbtn{
    position: absolute;
    height: 16px;
    width: 14px;
    border: none;
    display: block;
    text-indent: -999999px;
}
.imw .st_edit{
    bottom:0px; right: 0px;
    background: url(../images/edit.png) center center no-repeat;

}
.imw .st_delete{
    bottom:0px; left: 0px;
    background: url(../images/delete.png) center center no-repeat;
}
.ajax-media-cont .images .add_img .st_img_tbtn{ display: none !important;}
.st-meta table.slidetoggle.describe{ border: none;}
.st-meta table{width: 100%;}
.st-meta table input[type=text], .st-meta textarea{
    width: 100%;
}

.st-gallery .paginate {padding: 10px 0px 0px; text-align: right;}
.st-gallery  .paginate .s{ float: left; width: 250px;}
.st-gallery  .paginate a , .paginate span {
    padding: 3px 5px; margin: 0px 3px;
    border: 1px solid #ccc;
    text-decoration: none;
    border-radius: 3px;
}
.st-gallery  .stp{
    float: right;
}
.ajax-media-cont ,.st-iws{

}





/*=======Light box ===========*/
#stlb-overlay {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: #666;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9900;
}

#stlb-lightbox {
    /*
	width: 510px;
	height: 462px;
    */
    width: 600px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    border: 5px solid #999;
    z-index: 9999;
}
.stlb-inner{
    padding: 10px;
}

#lstlb-ightbox #stlb-close {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: -15px;
    right: 0;
    text-indent: -1000em;
    background: url(jquery_lightbox_tutorial/close.png) no-repeat;
}
/* for post meta ======== */
#poststuff  .st_meta_boxs .STpanel-box-title{
    margin:0px 0px 7px;
    line-height:18px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    border-top:1px solid #f6f4f4;
    border-bottom: none;
}
.st_pt_tabs{
    margin-top: 15px;
}
.st_meta_boxs .st_pt_tab_cont{ background: #fff;}
.st_meta_boxs .tab-hide{ display: none;}
.st_pt_tabs a{
    background-color: #F1F1F1;
    border-color: #DFDFDF #DFDFDF #DFDFDF;
    border-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width: 1px;
    color: #999999;
    cursor: pointer;
    text-decoration: none;
    margin: 5px 5px 0 0;
    padding: 4px 5px 0px;
    font-size: 15px;
}
.st_pt_tabs a.active{
    background: #fff;
    border-bottom:1px solid #fff;
}

.st_meta_boxs .STpanel-input-box{
    margin-bottom: 0px;
}
.st-iws{
    background: #ECECEC;
    margin:10px 0px;
}
.st-js-images{
    background: #ECECEC;
    margin:10px 0px;
}

.usage{ margin: 0px 20px 0px; padding-bottom: 10px;color: #999999;font-size: 11px;}
.gallery_settings{ margin:0px 15px;}
.st-more-code{margin-top: 20px;}


.st-ui-list li.ui-sortable-placeholder,
.st-img-items li.ui-sortable-placeholder{
    border: 2px dashed #CCCCCC !important;
    display: block !important;
    visibility: visible !important;
}
.st-ui-list li.ui-sortable-helper,
.st-img-items li.ui-sortable-helper{
    cursor: move;
}
.st-widget textarea{
    width: 100%;
}

.st-widget .ui-handlediv {
    cursor: pointer;
    float: right;
    height: 37px;
    width: 27px;

}
.st-widget .ui-handlediv{
    background: url(../images/arrows.png) 6px 10px no-repeat;
}
.st-widget .ui-handlediv:hover{
    background: url(../images/arrows.png) 6px 7px no-repeat;
}
.st-widget .ui-title{
    display: block;
    width:  100%;
}

.st-widget .ui-img-w label{
    display: block;
}

.STpanel-main .st-widget .inside{
    margin: 6px 0 8px;
    line-height: 1.4em;
    padding: 0 10px;
}
.STpanel-main .st-widget .st-hndle  {
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 11px 12px;
}
.st-widget .stwrmt{ float: right; margin-top: 7px; margin-right: 4px;}

.st-widget .ui-url{
    display: block;
    width: 100%;
}

/* for iButtons */

.ibutton-container {
    position: relative;
    height: 27px;
    cursor: pointer;
    overflow: hidden;
    /* set max width to that of sprite */
    max-width: 400px;
    /* prevent text selection */
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -moz-user-focus: ignore;
    -moz-user-input: disabled;
    /* set default width based on ON/OFF labels */
    width: 89px;

    border-radius: 2px;
    border: 1px solid #c9c8c8;
    background: url(../images/of-bg.png) center center;
}

.ibutton-container input {
    position: absolute;
    top: 0;
    left: 0;

    /* hide the element */
    filter:alpha(opacity=0);
    -moz-opacity: 0.0;
    opacity: 0.0;

    /* allow checking of input if visible */
    -moz-user-input: enabled  !important;
}

.ibutton-handle {
    display: block;
    height: 27px;
    cursor: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    /*
    background: transparent url(../images/ibutton-slider-default.png) no-repeat scroll 0 -54px;
    */
    background: transparent url(../images/of-h-bg.png) center center;
    z-index: 3;
    padding-left: 3px;
    /* set default width based on ON/OFF labels */
    width: 30px;
}

.ibutton-handle-right {
    height: 100%;
    width: 100%;
    /*
     padding-right: 3px;
     background: transparent url(../images/ibutton-slider-default.png) no-repeat scroll 100% -54px;

     */
    background: transparent url(../images/of-h-bg.png) center center;
    z-index: 3;
    padding-right: 5px;
}

.ibutton-handle-middle {
    height: 100%;
    width: 100%;
    background: transparent url(../images/of-m-bg.png) center center no-repeat;
    /*
    background: transparent url(../images/ibutton-slider-default.png) no-repeat scroll 50% -54px;
    */
    z-index: 3;
}

div.ibutton-label-on, div.ibutton-label-off {
    white-space: nowrap;
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: inherit;
    display: block;
    height: 22px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 4px;
    overflow: hidden;
    /*
    background: transparent url(../images/ibutton-slider-default.png) no-repeat scroll 0 0;
    */
}

div.ibutton-label-on {
    color: #5da3f0;
    left: 0;
    z-index: 1;
}

div.ibutton-label-on span {
    padding-left: 5px;
}

div.ibutton-label-off {
    color: #ff001e;
    background-position: 100% 0;
    text-align: right;
    right: 0;
    /* the off label needs to near the left edge (ideally just 5px away)
     * it just needs to be close enough that it won't show under the handle if dragged to the left
     */
    width: 100%;
}

div.ibutton-label-off span {
    padding-right: 0px;
}

/* create an outline when button gets focus via keyboard */
.ibutton-container label {
    cursor: inherit;
    padding: 1px 16px;
    font-size: 1em !important;
    margin-right: 0px !important;
}

.ibutton-focus label {
    /* we must use border, since outline doesn't work in IE */
    border: 1px dotted #666 !important;
    padding: 0 2px;
}

.ibutton-focus div.ibutton-label-on span label {
    /* use white for more contrast */
    border-color: #fff !important;
}

/* add padding to right/left so that text gets clipped before absolute edge */
.ibutton-padding-left, .ibutton-padding-right {
    position: absolute;
    top: 4px;
    z-index: 2;
    /*
	background: transparent url(../images/ibutton-slider-default.png) no-repeat scroll 0 -4px;
    */
    width: 0px;
    height: 20px;
}

.ibutton-padding-left {
    left: 0;
}

.ibutton-padding-right {
    right: 0;
    background-position: 100% -4px;
}

/* change the styles of the handle when being dragged */
.ibutton-active-handle .ibutton-handle {
    background-position: 0 -108px;
}

.ibutton-active-handle .ibutton-handle-right {
    background-position: 100% -108px;
}

.ibutton-active-handle .ibutton-handle-middle {
    background-position: 50% -108px;
}

/* styles to use when the button is disabled */
.ibutton-disabled {
    cursor: not-allowed !important; /* cursor options: default or not-allowed */
}

.ibutton-disabled .ibutton-handle {
    background-position: 0 -81px;
}

.ibutton-disabled .ibutton-handle-right {
    background-position: 100% -81px;
}

.ibutton-disabled .ibutton-handle-middle {
    background-position: 50% -81px;
}

.ibutton-disabled div.ibutton-label-on {
    background-position: 0 -27px;
}

.ibutton-disabled div.ibutton-label-off {
    background-position: 100% -27px;
}

.ibutton-disabled .ibutton-padding-left {
    background-position: 0 -27px;
}

.ibutton-disabled .ibutton-padding-right {
    background-position: 100% -27px;
}

.ibutton-disabled div.ibutton-label-on {
    color: #fff;
}

.ibutton-disabled div.ibutton-label-off {
    color: #cbcbcb;
}

/* =======SELECT ======== */
.left_sidebar, .right_sidebar{
    float: left;
    margin-right: 10px;
}
.chzn-select{
    width: 180px;
}
.lt-chzn-select{ width: 200px;}
.chzn-select-lb{
    line-height: 30px;margin-right:7px;
    float: left;
}

/* @group Base */
.chzn-container {
    font-size: 13px;
    position: relative;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.chzn-container .chzn-drop {
    background: #fff;
    border: 1px solid #aaa;
    border-top: 0;
    position: absolute;
    top: 29px;
    left: 0;
    -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
    -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
    box-shadow        : 0 4px 5px rgba(0,0,0,.15);
    z-index: 1010;
}
/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {
    background-color: #f6f6f6;
    /*
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
    background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    */
    -webkit-border-radius: 0px;
    -moz-border-radius   : 0px;
    border-radius        : 0px;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
    border: 1px solid #C9C8C8;
    /*
    -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow   : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
    box-shadow        : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
    */
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 27px;
    line-height: 27px;
    padding: 0 0 0 8px;
    color: #444444;
    text-decoration: none;
}
.chzn-container-single .chzn-default {
    color: #999;
}
.chzn-container-single .chzn-single span {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
    display: block;
    position: absolute;
    right: 26px;
    top: 6px;
    width: 12px;
    height: 12px;
    font-size: 1px;
    background: url('chosen-sprite.png') -42px 1px no-repeat;
}
.chzn-container-single .chzn-single abbr:hover {
    background-position: -42px -10px;
}
.chzn-container-single.chzn-disabled .chzn-single abbr:hover {
    background-position: -42px -10px;
}
.chzn-container-single .chzn-single div {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 18px;
}
.chzn-container-single .chzn-single div b {
    background: url('chosen-sprite.png') no-repeat 0px 5px;
    display: block;
    width: 100%;
    height: 100%;
}
.chzn-container-single .chzn-search {
    padding: 3px 4px;
    position: relative;
    margin: 0;
    white-space: nowrap;
    z-index: 1010;
}
.chzn-container-single .chzn-search input {
    background: #fff url('chosen-sprite.png') no-repeat 100% -20px;
    background: url('chosen-sprite.png') no-repeat 100% -20px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background: url('chosen-sprite.png') no-repeat 100% -20px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('chosen-sprite.png') no-repeat 100% -20px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('chosen-sprite.png') no-repeat 100% -20px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('chosen-sprite.png') no-repeat 100% -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    outline: 0;
    border: 1px solid #aaa;
    font-family: sans-serif;
    font-size: 1em;
}
.chzn-container-single .chzn-drop {
    -webkit-border-radius: 0px;
    -moz-border-radius   : 0px;
    border-radius        : 0px;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
}
/* @end */

.chzn-container-single-nosearch .chzn-search input {
    position: absolute;
    left: -9000px;
}

/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
    background-color: #fff;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
    border: 1px solid #aaa;
    margin: 0;
    padding: 0;
    cursor: text;
    overflow: hidden;
    height: auto !important;
    height: 1%;
    position: relative;
}
.chzn-container-multi .chzn-choices li {
    float: left;
    list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.chzn-container-multi .chzn-choices .search-field input {
    color: #666;
    background: transparent !important;
    border: 0 !important;
    font-family: sans-serif;
    font-size: 100%;
    /*
    height: 15px;
    */
    padding: 5px;
    margin: 1px 0;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow   : none;
    box-shadow        : none;
}
.chzn-container-multi .chzn-choices .search-field .default {
    color: #999;
}
.chzn-container-multi .chzn-choices .search-choice {
    -webkit-border-radius: 3px;
    -moz-border-radius   : 3px;
    border-radius        : 3px;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
    -moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
    box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
    color: #333;
    border: 1px solid #aaaaaa;
    line-height: 13px;
    padding: 3px 20px 3px 5px;
    margin: 3px 0 3px 5px;
    position: relative;
    cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice.search-choice-disabled {
    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    color: #666;
    border: 1px solid #cccccc;
    padding-right: 5px;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
    background: #d4d4d4;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
    display: block;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 12px;
    height: 12px;
    font-size: 1px;
    background: url('chosen-sprite.png') -42px 1px no-repeat;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
    background-position: -42px -10px;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
    background-position: -42px -10px;
}
/* @end */

/* @group Results */
.chzn-container .chzn-results {
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.chzn-container-multi .chzn-results {
    margin: -1px 0 0;
    padding: 0;
}
.chzn-container .chzn-results li {
    display: none;
    line-height: 15px;
    padding: 5px 6px;
    margin: 0;
    list-style: none;
}
.chzn-container .chzn-results .active-result {
    cursor: pointer;
    display: list-item;
}
.chzn-container .chzn-results .highlighted {

    background-color:#21759b;
    /*
    background-image:-webkit-gradient(linear,left top,left bottom,from(#2a95c5),to(#21759b));
    background-image:-webkit-linear-gradient(top,#2a95c5,#21759b);
    background-image:-moz-linear-gradient(top,#2a95c5,#21759b);
    background-image:-ms-linear-gradient(top,#2a95c5,#21759b);
    background-image:-o-linear-gradient(top,#2a95c5,#21759b);
    background-image:linear-gradient(to bottom,#2a95c5,#21759b);
    */
    color: #fff;

}
.chzn-container .chzn-results li em {
    background: #feffde;
    font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
    background: transparent;
}
.chzn-container .chzn-results .no-results {
    background: #f4f4f4;
    display: list-item;
}
.chzn-container .chzn-results .group-result {
    cursor: default;
    color: #999;
    font-weight: bold;
}
.chzn-container .chzn-results .group-option {
    padding-left: 15px;
}
.chzn-container-multi .chzn-drop .result-selected {
    display: none;
}
.chzn-container .chzn-results-scroll {
    background: white;
    margin: 0 4px;
    position: absolute;
    text-align: center;
    width: 321px; /* This should by dynamic with js */
    z-index: 1;
}
.chzn-container .chzn-results-scroll span {
    display: inline-block;
    height: 17px;
    text-indent: -5000px;
    width: 9px;
}
.chzn-container .chzn-results-scroll-down {
    bottom: 0;
}
.chzn-container .chzn-results-scroll-down span {
    background: url('chosen-sprite.png') no-repeat -4px -3px;
}
.chzn-container .chzn-results-scroll-up span {
    background: url('chosen-sprite.png') no-repeat -22px -3px;
}
/* @end */

/* @group Active  */
.chzn-container-active .chzn-single {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
    box-shadow        : 0 0 5px rgba(0,0,0,.3);
    border: 1px solid #21759b;
}
.chzn-container-active .chzn-single-with-drop {
    border: 1px solid #aaa;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow   : 0 1px 0 #fff inset;
    box-shadow        : 0 1px 0 #fff inset;
    background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
    background-image: -webkit-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
    background-image: -moz-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
    background-image: -o-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
    background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
    -webkit-border-bottom-left-radius : 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft : 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;
}
.chzn-container-active .chzn-single-with-drop div {
    background: transparent;
    border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
    background-position: -18px 2px;
}
.chzn-container-active .chzn-choices {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
    box-shadow        : 0 0 5px rgba(0,0,0,.3);
    border: 1px solid #5897fb;
}
.chzn-container-active .chzn-choices .search-field input {
    color: #111 !important;
}
/* @end */

/* @group Disabled Support */
.chzn-disabled {
    cursor: default;
    opacity:0.5 !important;
}
.chzn-disabled .chzn-single {
    cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
    cursor: default;
}

/* @group Right to Left */
.chzn-rtl { text-align: right; }
.chzn-rtl .chzn-single { padding: 0 8px 0 0; overflow: visible; }
.chzn-rtl .chzn-single span { margin-left: 26px; margin-right: 0; direction: rtl; }

.chzn-rtl .chzn-single div { left: 3px; right: auto; }
.chzn-rtl .chzn-single abbr {
    left: 26px;
    right: auto;
}
.chzn-rtl .chzn-choices .search-field input { direction: rtl; }
.chzn-rtl .chzn-choices li { float: right; }
.chzn-rtl .chzn-choices .search-choice { padding: 3px 5px 3px 19px; margin: 3px 5px 3px 0; }
.chzn-rtl .chzn-choices .search-choice .search-choice-close { left: 4px; right: auto; }
.chzn-rtl.chzn-container-single .chzn-results { margin: 0 0 4px 4px; padding: 0 4px 0 0; }
.chzn-rtl .chzn-results .group-option { padding-left: 0; padding-right: 15px; }
.chzn-rtl.chzn-container-active .chzn-single-with-drop div { border-right: none; }
.chzn-rtl .chzn-search input {
    background: #fff url('chosen-sprite.png') no-repeat -30px -20px;
    background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
    padding: 4px 5px 4px 20px;
    direction: rtl;
}
.chzn-container-single.chzn-rtl .chzn-single div b {
    background-position: 6px 2px;
}
.chzn-container-single.chzn-rtl .chzn-single-with-drop div b {
    background-position: -12px 2px;
}

.customize-control-select .chzn-select,
.customize-control-select select,
.customize-control-select .chzn-container{width: 180px;}
.customize-control-select .chzn-container-active{ z-index: 99;}


/* @end */

/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi)  {
    .chzn-rtl .chzn-search input, .chzn-container-single .chzn-single abbr, .chzn-container-single .chzn-single div b, .chzn-container-single .chzn-search input, .chzn-container-multi .chzn-choices .search-choice .search-choice-close, .chzn-container .chzn-results-scroll-down span, .chzn-container .chzn-results-scroll-up span {
        background-image: url('chosen-sprite@2x.png') !important;
        background-repeat: no-repeat !important;
        background-size: 52px 37px !important;
    }
}
/* @end */

/* for ajax font */




/* =========================== */


.STpanel-box-style .style-inline label{
    display: block;
    margin-top: 7px;
    padding-bottom: 3px;
}
.STpanel-box-style .style-unit{
    border:  0px none !important;
    border: none !important;
}
/* for jqQuery ui slider*/
.STpanel-box-style .ui-slider-handle{
    border: none;
    background: url(images/slider-handler.png) center center no-repeat;
}

.STpanel-box-style  .ui-slider-horizontal{
    height: 8px;
    border: 1px solid #bababa;
    background: #d7d7d7;
    border-radius: 5px;
    width:200px;
}
.STpanel-box-style .ui-slider-range{
    background: #7cb6e1;
    border: 1px solid #5bace9;
    border-radius: 5px;
    top: -1px;
}

.font-text,.font-size-slide,.font-slide-value{float:left;margin-right:15px;}
.font-size-slide{margin-top:3px;}
.font-slide-value{margin-top:-6px;}
.font-size{margin-bottom:15px;}


#TB_overlay{
    z-index: 9995 !important;
}

#TB_window{
    z-index: 9996 !important;
}

#TB_load{ z-index: 9997 !important;}

/**/
.st-ui-list > li .widget{ border: 1px solid #cccccc; background: #ffffff;  padding-bottom: 5px;}

.STpanel-success-noti{ z-index: 999; position: fixed; top: 50%; left: 50%;  width: 250px; padding: 20px;  margin-top: -80px; margin-left: -100px;  ; display:  block; background: #04bb16; color: #fff; font-size: 20px; text-align:  center; }

