
.col_1_1{  width: 98%;}
.col_1_2{  width: 47.95%;}

.col_1_3{  width: 31.332%;}
.col_2_3{  width: 64.642%;}

.col_1_4{ width: 22.90%;}
.col_3_4{ width: 72.90%;}

.col_1_5{ width: 17.90%;}
.col_2_5{ width: 37.90%;}
.col_3_5{ width: 57.90%;}
.col_4_5{ width: 77.90%;}

/*

.col_1_1{  width: 100%;}
.col_1_2{  width: 49.95%;}

.col_1_3{  width: 33.332%;}
.col_2_3{  width: 66.642%;}

.col_1_4{ width: 24.90%;}
.col_3_4{ width: 74.90%;}

.col_1_5{ width: 19.90%;}
.col_2_5{ width: 39.90%;}
.col_3_5{ width: 59.90%;}
.col_4_5{ width: 79.90%;}
*/

.obj-item{
     height: 48px;
     display: block;
     float: left;
     padding: 0px;
     margin: 10px 1%;
}

/* ==================================================================================*/
.stpb_pd_w{ padding-bottom: 20px;}
.stbuilder-items{
    margin:-5px -11px 20px -9px;
    position: relative;
    background: #EAEAEA;
}
.stbuilder .stdesc{
    position: absolute;
    top: 3px;
    right:15px;
    position: absolute;
    color:#333333;
    text-shadow: 0 1px #FFFFFF;
  
}
.stbuilder .notifications{
     top:30px;
     left: 0px;
     width: 100%;
     text-align: center;
     z-index: 13;
     position: absolute;
}
.stbuilder .notifications  .n{
     font-size: 16px;
      padding: 10px 20px;
     border-radius: 5px;
     background: #dddddd;
     display: none;
}
.stbuilder .notifications .success{
     color: #21759B;
     border: 1px solid #21759B;
}

.stbuilder .notifications .warning{
     color: #FF8346;
     border: 1px solid #FF8346;
}


.stpb_pd_w .sttitle{ margin: 20px 16px 2px 16px; font-size: 15px;display: inline-block;color:#808080;text-shadow: 0 1px #FFFFFF;}

.stbuilder-o-items{
    margin:0px 0px 0px;
    padding: 10px 10px 20px 10px;
}



.stbuilder-area-wprap{
     background: #fff;
     padding: 15px;
}
.stbuilder-area{
    background: #f5f5f5;
    clear: both;
    display: table;
    content: " ";
    width: 100%;
}
.bd-item .item-js-options{
    display: none;
}

.bd-item{
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #DFDFDF;
    box-shadow: 0 1px 0 #FFFFFF inset;
    float: left;
    margin: 5px;
    background: #F9F9F9;
}
.bd-item .act-add{
    padding: 7px 3px 7px 7px;
    border-left: 1px solid #DFDFDF;
    margin-left: 5px;
    text-decoration: none;
    
}
.bd-item .add-btn{
    padding: 6px;
}
.bd-item .add-btn .n{ font-weight: bold; margin:0px 5px;color:#808080;text-shadow: 0 1px #FFFFFF;}
.obj-item-inner{
     box-shadow: 0 1px 0 #FFFFFF inset;
     height:  48px;
     display: block;
     margin: 0px 0px;
     position: relative;
     background: url(images/pbbg.png) top center repeat-x;
}

.obj-item-inner .up,
.obj-item-inner .down,
.obj-item-inner .pbedit,
.obj-item-inner .pbremove
  {
    width:  20px;
    height: 20px;
    display: table;
    position: absolute;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.obj-item-inner .up{
    top:3px;
    left:3px;
    text-indent: -99999px;
    background: url(images/up.png) center center;
}

.obj-item-inner .down{
    bottom:3px;
    left:3px;
     text-indent: -99999px;
    background: url(images/down.png) center center;
}
.obj-item-inner .t{
    text-align: center;
    margin-left: 25px;
    margin-right: 20px;
}

.obj-item-inner .pbedit{
    top:3px;
    right:3px;
    text-indent: -99999999px;
    background: url(images/bedit.png) center center no-repeat;
}

.obj-item-inner .pbremove{
    bottom:3px;
    right:3px;
    text-indent: -99999999px;
    background: url(images/bremove.png) center center no-repeat;
}

.obj-item-inner .with-info{
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 2px;
    left: 27px;
    line-height: 48px;
    background: #75b7f9;
    color: #fff;
    padding: 0px 4px;
}
.obj-item-inner .t{
    height: 100%;
    display: table;
    width: 90%;
    margin:0 auto;
}
.obj-item-inner .t div{
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.obj-js-edit{
    display: none;
}
.stbuilder-edit-box{
    background: #fff;
    padding: 15px 5px;
}

.stpblb-inner .pbbtn{
    font-size: 16px;
    height: 30px;
}
/* =========================== */


.stpb-ui-list li.ui-sortable-placeholder,
.stpb-img-items li.ui-sortable-placeholder,

.stbuilder-area .ui-sortable-placeholder{
    border: 1px dashed #CCCCCC !important;
    display: block !important;
    visibility: visible !important;
}
.stpb-ui-list li.ui-sortable-helper,
.stpb-img-items .ui-sortable-helper{
    cursor: move;
}
.stpb-widget textarea{
    width: 100%;
}

.stpb-widget .ui-handlediv {
    cursor: pointer;
    float: right;
    height: 30px;
    width: 27px;
   
}
.stpb-widget .ui-handlediv{
     background: url(../images/arrows.png) 6px 7px no-repeat;
}
.stpb-widget .ui-handlediv:hover{
     background: url(../images/arrows.png) 6px 7px no-repeat;
}
.stpb-widget .ui-title{
    display: block; 
    width:  100%;
}

.stpb-widget .ui-img-w label{
    display: block; 
}
.stpb-widget .widget-content{
    margin: 5px;
}
.stpb-widget .stpb-hndle{
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 7px 10px;
}
 .stpb-widget .stwrmt{ float: right; margin-top: 2px; margin-right: 4px;}
 .stpb-widget .ui-url{
    display: block;
    width: 100%;
 }
 

/* for select layout */
.stpb-layout-item .label input{
    display: none;
}

.stpb-layout-item {
    float: left;
    margin:0px 15px 0px 0px;
    border: 1px solid #b7b7b7;
    background: #fff;
    line-height: 0px;
}

.stpb-layout-item .label img{
    background: #fff;
    padding: 7px;
    margin: 1px;
}
.stpb-layout-item.label-checked .label img{ background: #dadada; }


/* for page option  */

.page_options label{ margin-right: 15px;}


/* for Gallery page */
.thumbnail_images.gallery-builder .stpb-iws{
    margin:0px -28px 15px; 
    padding : 15px ;
}
.stpb-gallery ul.images{ margin:0px;}
.stpb-gallery ul.images li{
    float: left;
    width: 135px;
    height: 135px;
    display: block;
    margin: 10px;
}

.stpb-gallery ul.images li img{
    max-width: 125px;
    max-height: 125px;
}
.stpb-gallery ul.images li .imw{
    position: relative;
    width: 125px;
    height: 125px;
    display: block;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 5px 3px 5px #eaeaea;
}

.stpb-gallery .st-js-images{
    padding-bottom: 10px;
}
.imw .stpb_img_tbtn{
     position: absolute;
     height: 16px;
     width: 14px;
     border: none;
     display: block;
     text-indent: -999999px;
}

.stpb-gallery .ajax-media-cont ul.images li {
     width: 70px;
    height: 70px;
}
.stpb-gallery .ajax-media-cont ul.images .imw{
    width: 70px;
    height: 70px;
}

.stpb-gallery .ajax-media-cont ul.images  li img{
    max-width: 70px;
    max-height: 70px;
}

.imw .stpb_edit{
    bottom:5px; right: 5px;
    padding: 2px;
    background: #61a6f1 url(images/bedit.png) center center no-repeat;
    
}
.imw .stpb_delete{
    bottom:5px; left: 5px;
    padding: 2px;
    background:  #61a6f1  url(images/bremove.png) center center no-repeat;
}
.ajax-media-cont .images .add_img .stpb_img_tbtn{ display: none !important;}
.stpb-meta table.slidetoggle.describe{ border: none;}
.stpb-meta table{width: 100%;}
.stpb-meta table input[type=text], .stpb-meta textarea{
    width: 100%;
}

.stpb-gallery .paginate {padding: 10px 0px 0px; text-align: right;}
.stpb-gallery  .paginate .s{ float: left; width: 250px;}
.stpb-gallery  .paginate a , .paginate span {
    padding: 3px 5px; margin: 0px 3px;
    border: 1px solid #ccc;
    text-decoration: none;
    border-radius: 3px;
}
.stpb-gallery  .stpbp{
    float: right;
}
.ajax-media-cont ,.stpb-iws{
  
}

/*=======Light box ===========*/

#stpblb-overlay {
	width: 100%;
	height: 100%;
	min-height: 100%;
	background: #666;
	position: fixed;
	top: 0;
	left: 0;
    z-index: 80;
}

#stpblb-lightbox-wrap{
    z-index: 90;
    width: 100%;
    height: 100%;
   	position: fixed;
    top:0px;
    left: 0px;
    display: block;
  
}
#stpblb-lightbox-ww{
    display: block;
    padding: 40px;
}


#stpblb-lightbox {
   	max-width: 700px;
    padding: 0px; 
    margin: 0 auto;
	background: #fff;
    height: 100%;
    display: block;
    position: relative;
	border: 5px solid #777777;
    z-index: 92;
}


.stpblb-inner{
    padding: 5px 20px 10px; 
}
#stpblb-lightbox .box-inner{
    padding: 0px;
}

#stpblb-lightbox .stpblb-wrap-inner{
    position: relative;
    display: block;
    padding: 0px;
    height: 100%;
    margin-top:40px;
}
#stpblb-lightbox .stpblb-wrap-inner .inb{
    height: 100%;
    display: block;
    margin-top: 40px;
    padding-bottom: 40px;
}

#stpblb-lightbox .stpblb-wrap-inner .stpblb-inner{
    height: 100%;
    display: block;
    overflow: auto;
    padding:0px 15px;
    background: #f5f5f5;
}

#stpblb-lightbox .bpbd-c{
    padding-bottom: 35px;
}
.pblb-btns{
    position: absolute;
    bottom:0px;
    left: 0px;
    width: 100%;
    height: 40px;
    display: table;
    background: url("images/lbt.png") repeat-x scroll center center transparent;
    
}
.pblb-btns .btns-i{
    padding: 0px 15px;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.stpb-lightbox-title{
    position: absolute;
    top:0px;
    left:0px;
    z-index: 93 ;
    background: #fff;
    width: 100%;
    text-transform: uppercase;
    margin:0px;
    height: 40px;
    display: block;
    background: url(images/lbt.png) center center repeat-x;
    font-weight: bold;
    line-height: 40px;
    font-size: 13px;
    color: #fff;
}
.stpb-lightbox-title span{
    margin:0px 20px;
}

#lstpblb-ightbox #stpblb-close {
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	top: -15px;
	right: 0;
	text-indent: -1000em;

}
.stpblb-inner input[type=text], .stpblb-inner textarea{
    width: 100%;
}


.stpb-gallery-editct{
    display: none;
}

.stpb_pd_w .w100{
    width: 100%;
    display: block;
}
.thumbnail_images .imw .stpb_edit{
    
}
.image_preview img{ max-width: 500px;}
.gallery-builder .btn-actions{
    margin: 0px 0px 15px;
}
.gallery-builder .stpb-gallery-editct{
    margin-bottom: 20px;
}

.stpb-iws{
    background: #eaeaea;
    margin-bottom: 15px;
}
.stpb-img-items.no-image{
    height: 180px;
    display: block;
    background: url(images/smedia.png) center center no-repeat #eaeaea;
}
.aj_sm_t{ margin: 5px 0px;}
.ajax-media-cont .s {
    width: 49%;
    float: left;
    text-align: left;
}
.ajax-media-cont .s .st-s{
    width: 120px;
}

.ajax-media-cont .st-s-btn, .ajax-media-cont .st-s-btn:hover{
    height: 23px;
    text-indent: -99999px;
    width: 25px;
    opacity: 1;
    background: url(images/search.png) center center no-repeat !important;
}
.stpblb-inner .stpb-gallery-editct{ 
     background: #F7F7F7;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 3px;
     margin-top: 20px;
}


.stpb-gallery .loading{
    height: 40px;
    background: url(images/loading.gif) center center no-repeat;
    display: block;
}

/* for buttons */
.pb-box-upload label{
    display: block;
}
.pb-box-upload input.pb-input-upload{
    width: 50%;
}
.remove_image.button-secondary span
{
     background-image: url(images/bremove.png);
     background-position: center  left;
     background-repeat:  no-repeat;
     padding: 10px 12px;
}
.pb-upload-button.button-secondary span,
.add_more_image.button-secondary span{
     background-image: url(images/media.png);
     background-position: center  left;
     background-repeat:  no-repeat;
    padding-left: 25px;
    padding: 10px 12px;
}

/* For title */
.stpb_pd_w h4{
    font-size: 13px;
    margin-bottom: 12px;
    text-transform: uppercase;
    color: #808080;
    font-weight: bold;
    text-shadow: 0 1px #FFFFFF;
}
.chzn-select-lb{
    color:#808080;
}
.page_options h4 small{
    font-weight: normal;
    margin-left: 10px;
    font-size: 12px;
    text-transform: none;
}

.thumbnail input , .stpblb-inner  input[type=checkbox]{
    margin-right: 5px;
}
.stdive{
    border-top: 1px solid #e4e2e2;
    height: 1px !important;
    background: #fff;
    display: block;
    margin: 20px -12px 20px -10px !important;
    padding:0px !important;
}

.lb-stdive{
    border-top: 1px solid #e4e2e2;
    height: 1px !important;
    background: #fff;
    display: block;
    margin: 10px -15px 10px -15px !important;
    padding:0px !important;
}

.lb-chzn-select{
    width: 180px;
}

.item-gr{
    padding:  7px 0px;
}
.item-gr h4{
    margin-top:0px;
    margin-bottom: 5px;
}
.stpblb-inner .bigtitle{
    font-size: 20px;
    padding: 5px;
}
.gallery-builder{ margin-top: 20px; }




